<div class="background-image">
  <!--Contenedor-->
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/TorreOro/TorreOro.jpg"
              alt="TorreOroSevilla"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="TorreOro-Informacion">
              <h1 class="module_header titulo" id="torreoro_header">
                La Torre del Oro
              </h1>
              <p class="style-texto">
                La Torre del oro es una torre defensiva que protegía la ciudad
                de las invasiones por el río Guadalquivir.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="TorreOro-Informacion">
              <h1 class="module_header titulo">La Otra Torre del Oro</h1>
              <p class="style-texto">
                Es una torre albarrana situada en el margen izquierdo del río
                Guadalquivir, en la ciudad de Sevilla, junto a la plaza de toros
                de la Real Maestranza. Su altura es de 36 metros. Cerraba el
                paso al Arenal mediante un tramo de muralla que la unía con la
                Torre de la Plata, que formaba parte de las murallas de Sevilla
                que defendían el Alcázar. Es una torre formada por tres cuerpos,
                El primer cuerpo, dodecagonal, fue construido entre 1220 y 1221
                por orden del gobernador almohade de Sevilla, Abù l-Ulà.
              </p>
              <p class="style-texto">
                Parece que debe su nombre «<strong>Torre del Oro</strong>» a los reflejos dorados
                que producían los azulejos que la recubrían en su tiempo.
              </p>
              <p class="style-texto">
                El segundo cuerpo, también dodecagonal, fue mandado construir
                por Pedro I el cruel en el siglo XIV. El cuerpo superior,
                cilíndrico y rematado en cúpula, fue construido en 1760 por el
                ingeniero militar Sebastián Van der Borcht. Fue declarada
                monumento histórico-artístico en 1931.
              </p>
            </div>
          </div>
          <div class="module imagenes-PlazaEspana">
            <img
              src="../../../assets/img/Monumentos/Sevilla/TorreOro/TorreOro2.jpg"
              alt="TorreOro"
            />
            <figcaption class="leyendaImagen">
              Parte del museo de la torre del oro.
            </figcaption>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.997679531574249%2C37.381777954043606%2C-5.995624959468842%2C37.38302688782341&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img src="../../assets/img/iconoslogos/Informacion.png" alt="" />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Paseo de Cristóbal Colón, s/n.</p>
        <p>41001 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> torreoro@fn.mde.es</p>
        <p><strong>Tlf:</strong> +34 954 222 419</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt=""
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de Pagina-->
</div>
