<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="AyuntamientoSevilla"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="AyuntamientoSevilla-Informacion">
              <h1 class="module_header titulo" id="Ayuntamiento_header">
                Ayuntamiento de Sevilla
              </h1>
              <h2 class="titulo">La Casa Consistorial de la ciudad</h2>
              <p class="style-texto">
                En siglo XV, con el descubrimiento de América y la importancia y
                riqueza que va adquiriendo la ciudad, se decide crear una nueva
                sede del Cabildo, más amplia y de mayor calidad.
              </p>
              <p class="style-texto">
                Se decide colocar el Ayuntamiento de Sevilla en la plaza de San
                Francisco, que era lugar céntrico y comercial. Su construcción
                supuso la independencia del poder civil frente al religioso.
              </p>
              <p class="style-texto">
                Durante el siglo XIX el Convento de San Francisco sufrió una
                ocupación militar, dos incendios y la exclaustración debida a la
                desamorización de Mendizábal, con lo que estaba casi en ruinas.
                Un primer proyecto se aprueba por la Real Academia de Bellas
                Artes de San Fernando al año siguiente, pero no puede ser
                llevado a cabo por problemas económicos del Ayuntamiento,
                aprobándose un segundo proyecto en 1855. Las obras sufrieron
                continuas interrupciones y el proyecto tuvo varias reformas. En
                la parte de la plaza de San Francisco se decidió hacer una
                fachada que prolongase el edificio plateresco; sin embargo la
                decoración de este sector nunca llegó a terminarse y hoy podemos
                ver la fachada con los bloques de piedra preparados para ser
                tallados. La fachada principal que da a la plaza Nueva se
                culminó en 1867, y la decoración del Salón Colón en 1871.
              </p>
              <p class="style-texto">
                El edificio del Ayuntamiento de Sevilla constituye una de las
                muestras más notables de la arquitectura plateresca en
                Andalucía. El edificio inicial ocupa el sector meridional del
                actual Ayuntamiento, con el “arquillo” que comunicaba con el
                compás del monasterio franciscano. Se guardan en el edificio
                algunos elementos de elevado interés artístico e histórico, como
                el pendón de la ciudad. Bien de Interés Cultural, el
                Ayuntamiento de Sevilla está catalogado como Monumento desde su
                publicación en 1931.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.995839536190034%2C37.38805864406916%2C-5.993784964084626%2C37.38930747323602&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza Nueva, 1</p>
        <p>41004  Sevilla  (Andalucía)</p>
        <p><strong>E-mail:</strong> otsevilla@andalucia.org</p>
        <p><strong>Tlf:</strong> +34 902 559 386</p>
        <p><strong>Tlf:</strong> +34 955 470 264</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
