<div class="background-image">
  <div class="container">
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad1.jpg"
              alt="HospitalCaridad"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad2.webp"
              alt="HospitalCaridad"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad4.jpg"
              alt="HospitalCaridad"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="HospitalCaridad-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Hospital de la Caridad
              </h1>
              <!-- <h2 class="titulo">La obra cumbre de Aníbal González</h2> -->
              <p class="style-texto">
                Sede de la Hermandad del mismo nombre, constituye un conjunto
                arquitectónico y artístico cumbre del arte barroco español,
                fundada en Sevilla a mediados del siglo XV.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="HospitalCaridad-Informacion">
              <h2 class="titulo">Fondo y forma del Barroco</h2>
              <p class="style-texto">
                Tenía entre sus cometidos la asistencia a enfermos abandonados y
                el enterramiento de ajusticiados y ahogados, así como elevar
                sufragios por sus almas. Tuvo su sede en una capilla, dedicada a
                San Jorge, construida en una de las Atarazanas Reales. Las tres
                grandes salas del hospital se construyeron aprovechando las
                naves de las Atarazanas Reales de Sevilla que se habían
                construido en época de Alfonso X. En 1644, por ruina de la
                antigua capilla, se decide la construcción de una nueva iglesia
                según planos de Pedro Sánchez Falconete. Miguel Mañara, elegido
                como hermano mayor en 1663, se convirtió en el principal
                impulsor del proyecto y agilizó las obras del templo. Los planos
                de la Iglesia fueron reformados por iniciativa de propio Mañara
                y la fachada fue rematada por Leonardo de Figueroa.
              </p>
              <p class="style-texto">
                Destaca el patio de acceso, dividido en dos partes separadas por
                un pasaje volado sobre columnas. Desde el patio se accede a la
                antigua sala de cabildos, en la que se conservan distintos
                algunos objetos relacionados con Miguel de Mañara, como una de
                las espadas que le pertenecieron o la mascarilla mortuoria. Las
                paredes recogen extraordinarias pinturas entre las que destacan
                obras de Valdés Leal y Zurbarán.
              </p>
            </div>
          </div>
          <div class="module imagenes-HospitalCaridad">
            <img
              src="../../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad3.jpg"
              alt="HospitalCaridad"
            />
            <figcaption class="leyendaImagen">
              Altar del Hospital de la Caridad.
            </figcaption>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.997542738914491%2C37.382728509630674%2C-5.993433594703675%2C37.38522632472519&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Calle Temprado, 3</p>
        <p><strong>Web:</strong><a href="santa-caridad.es"> santa-caridad.es</a></p>
        <p><strong>Tlf:</strong> 954 22 32 32</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
