<div class="background-image">
  <div class="container">
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla2.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla3.jpg"
              alt="PlazaEspana"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <!-- <div class="module imagenes-PlazaEspana">
              <img
                src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla4.jpg"
                alt="PlazaEspana"
              />
              <figcaption class="leyendaImagen">
                Monumento de Aníbal González frente a la Plaza de España.
              </figcaption>
            </div> -->
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Hospital de la Caridad
              </h1>
              <!-- <h2 class="titulo">La obra cumbre de Aníbal González</h2> -->
              <p class="style-texto">
                Sede de la Hermandad del mismo nombre, constituye un conjunto
                arquitectónico y artístico cumbre del arte barroco español,
                fundada en Sevilla a mediados del siglo XV.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">Fondo y forma del Barroco</h2>
              <p class="style-texto">
                Tenía entre sus cometidos la asistencia a enfermos abandonados y
                el enterramiento de ajusticiados y ahogados, así como elevar
                sufragios por sus almas. Tuvo su sede en una capilla, dedicada a
                San Jorge, construida en una de las Atarazanas Reales. Las tres
                grandes salas del hospital se construyeron aprovechando las
                naves de las Atarazanas Reales de Sevilla que se habían
                construido en época de Alfonso X. En 1644, por ruina de la
                antigua capilla, se decide la construcción de una nueva iglesia
                según planos de Pedro Sánchez Falconete. Miguel Mañara, elegido
                como hermano mayor en 1663, se convirtió en el principal
                impulsor del proyecto y agilizó las obras del templo. Los planos
                de la Iglesia fueron reformados por iniciativa de propio Mañara
                y la fachada fue rematada por Leonardo de Figueroa.
              </p>
              <p class="style-texto">
                Destaca el patio de acceso, dividido en dos partes separadas por
                un pasaje volado sobre columnas. Desde el patio se accede a la
                antigua sala de cabildos, en la que se conservan distintos
                algunos objetos relacionados con Miguel de Mañara, como una de
                las espadas que le pertenecieron o la mascarilla mortuoria. Las
                paredes recogen extraordinarias pinturas entre las que destacan
                obras de Valdés Leal y Zurbarán.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">Una plaza de cine</h2>
              <p class="style-texto">
                Los cuatro preciosos puentes que cruzan el canal representan los
                antiguos reinos de España.
              </p>
              <p class="style-texto">
                Dos altas torres se erigen en los extremos de la plaza,
                confiriendo un equilibrio perfecto al conjunto. Estas torres se
                divisan desde toda Sevilla.
              </p>
              <p class="style-texto">
                La galería porticada que separa el espacio abierto de la plaza
                con respecto al edificio invita a ser recorrido. Admira el
                impresionante artesonado…
              </p>
              <p class="style-texto">
                La Plaza de España ha enamorado a diversos directores de cine.
                Este monumento ha sido escenario de célebres películas como
                <em>Lawrence de Arabia </em> o el Episodio II de
                <em> Star Wars: El ataque de los clones.</em>
              </p>
            </div>
          </div>
          <div class="module imagenes-PlazaEspana">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla5.webp"
              alt="PlazaEspana"
            />
            <figcaption class="leyendaImagen">
              Escena de Star Wars en la Plaza de España.
            </figcaption>
          </div>
        </div> -->
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.997542738914491%2C37.382728509630674%2C-5.993433594703675%2C37.38522632472519&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de España, s/n.</p>
        <p>41013 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> visitasevilla@sevillacityoffice.es</p>
        <p><strong>Tlf:</strong> +34 955 010 010</p>
        <p><strong>Tlf:</strong> +34 955 471 232</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
