<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../../../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../../../../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../../../../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/MuseoBellasArtes/MuseoBellasArtes2.jpg"
            alt="BellasArtes"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../../../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../../../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module imagenes-BellasArtes">
            <img
              src="../../../assets/img/Monumentos/Sevilla/MuseoBellasArtes/MuseoBellasArtes1.jpg"
              alt="BellasArtes"
            />
            <figcaption class="leyendaImagen">
              Entrada del Museo de Bellas Artes de Sevilla.
            </figcaption>
          </div>
          <div class="module">
            <div class="BellasArtes-Informacion">
              <h1 class="module_header titulo" id="BellasArtes_header">
                Museo de Bellas Artes de Sevilla
              </h1>
              <h2 class="titulo">Un edificio del siglo XVII, sede del Museo</h2>
              <p class="style-texto">
                El Museo de Bellas Artes se encuentra en un precioso y tranquilo
                barrio que, como no podía ser de otro modo, ha tomado su nombre:
                el barrio del Museo.
              </p>
              <p class="style-texto">
                El edificio que acoge el museo es el
                <strong> antiguo Convento de la Merced </strong>, un edificio
                del siglo XVII que está considerado uno de las mejores ejemplos
                del manierismo andaluz. Sus patios, salas y hasta una iglesia
                constituyen un magnífico contexto para la colección museística
                que atesora.
              </p>
              <p class="style-texto">
                En el exterior, destaca una elegante plaza dominada por una
                estatua dedicada al pintor Murillo.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="BellasArtes-Informacion">
              <h2 class="titulo">La obra de Murillo</h2>
              <p class="style-texto">
                <strong> Bartolomé Esteban Murillo </strong> es uno de los
                pintores más universales que ha dado Sevilla. En el Museo de
                Bellas Artes conocerás como en ningún otro espacio la dimensión
                de este artista y la calidad sus mejores obras.
              </p>
            </div>
          </div>
          <div class="module imagenes-BellasArtes">
            <img
              src="../../../../../assets/img/Monumentos/Sevilla/MuseoBellasArtes/MuseoBellasArtes4.jpg"
              alt="BellasArtes"
            />
            <figcaption class="leyendaImagen">
              Autorretrato de Bartolomé Esteban Murillo.
            </figcaption>
          </div>
        </div>
        <div class="column">
          <div class="module imagenes-BellasArtes">
            <img
              class="imagen-grande"
              src="../../../../../assets/img/Monumentos/Sevilla/MuseoBellasArtes/MuseoBellasArtes3.jpeg"
              alt="BellasArtes"
            />
            <figcaption class="leyendaImagen">
              Cuadro de "La muerte de un maestro" de José Villegas .
            </figcaption>
          </div>
          <div class="module">
            <div class="BellasArtes-Informacion">
              <h2 class="titulo">Lo que no te puedes perder</h2>
              <p class="style-texto">
                Además de los cuadros de Murillo de la sala V, como la
                <em>Virgen de la Servilleta</em> o la Inmaculada llamada “<em
                  >La Colosal</em
                >”, el Museo guarda un enorme conjunto de obras maestras.
                Seguidamente te destacamos algunas.
              </p>
              <p class="style-texto italic">
                Retrato de D. Cristóbal Suárez de Ribera, de Velázquez.
              </p>
              <p class="style-texto italic">
                San Hugo en el Refectorio, Jesús crucificado expirante y La
                Virgen de las Cuevas, todos estos cuadros de Francisco de
                Zurbarán.
              </p>
              <p class="style-texto italic">
                Santiago el Mayor, de José de Ribera.
              </p>
              <p class="style-texto italic">
                Retrato de Jorge Manuel, pintado por El Greco.
              </p>
              <p class="style-texto italic">
                Escultura de San Jerónimo, de Pietro Torrigiano.
              </p>
              <p class="style-texto italic">
                Retrato del canónigo D. José Duaso y Latre, de Francisco de
                Goya.
              </p>
              <p class="style-texto italic">
                El monaguillo, de Alfonso Grosso.
              </p>
              <p class="style-texto italic">
                Sevilla en fiestas, de Gustavo Bacarisas.
              </p>
              <p class="style-texto italic">
                La muerte del maestro, de José Villegas.
              </p>
              <p class="style-texto italic">
                Las Cigarreras, de Gonzalo Bilbao.
              </p>
              <p class="style-texto italic">
                Retrato de Gustavo Adolfo Bécquer, obra de su hermano Valeriano.
              </p>
              <p class="style-texto">
                <a
                  href="https://www.museosdeandalucia.es/web/museodebellasartesdesevilla/propuestas-de-recorrido"
                  >Propuestas de recorrido del Museo.</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-6.001437306404115%2C37.39186047563622%2C-5.999382734298706%2C37.39310924147139&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../../../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza del Museo, 9</p>
        <p>41001 Sevilla (Andalucía)</p>
        <p>
          <strong>E-mail:</strong>
          museobellasartessevilla.ccul<br />@juntadeandalucia.es
        </p>
        <p><strong>Tlf:</strong> +34 954 786 498</p>
        <p><strong>Tlf:</strong> +34 954 786 501</p>
        <p>
          <strong>Web:</strong
          ><a
            href="https://www.museosdeandalucia.es/web/museodebellasartesdesevilla"
            >https://www.museosdeandalucia.es/<br />web/museodebellasartesdesevilla</a
          >
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../../../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../../../../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../../../../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../../../../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
