<div class="background-image">
  <div class="container">
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/LasSetas/Setas1.jpg"
              alt="LasSetas"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/LasSetas/Setas2.jpg"
              alt="LasSetas"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/LasSetas/Setas3.jpg"
              alt="LasSetas"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="LasSetas-Informacion">
              <h1 class="module_header titulo" id="LasSetas_header">
                Las Setas
              </h1>
              <h2 class="titulo">Metropol Parasol</h2>
              <p class="style-texto">
                Tiene unas dimensiones de 150 x 70 metros y una altura
                aproximada de 26 metros, y fue el proyecto ganador del concurso
                abierto por el Ayuntamiento de Sevilla para llevar a cabo la
                rehabilitación de la plaza en la que se ubica; su diseñador fue
                el arquitecto berlinés Jürgen Mayer. La estructura consiste en
                seis parasoles con forma de setas de grandes dimensiones, cuyo
                diseño se inspira en las bóvedas de la catedral de Sevilla y los
                ficus de la cercana plaza del Cristo de Burgos.
              </p>
              <p class="style-texto">
                En su conjunto dispone de cinco niveles. El nivel superior
                alberga una plaza mirador y un trayecto panorámico que sobre
                plataformas recorre la mayor parte del conjunto. En el interior
                de los parasoles centrales, a 22 metros de altura, se sitúa un
                restaurante de tapas y espacio para eventos. Bajo los parasoles
                se ubica una plaza elevada, umbría y diáfana (Plaza Mayor)
                diseñada para albergar eventos de distinto carácter. A nivel de
                suelo se encuentra el actual Mercado de la Encarnación, junto
                con locales comerciales y de restauración.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="LasSetas-Informacion">
              <p class="style-texto">
                Finalmente, el sótano alberga el museo Antiquarium, en el que se
                exhiben los restos arqueológicos hallados en el lugar. Este
                Antiquarium fue proyectado por el arquitecto sevillano Felipe
                Palomino González, que participó en toda la dirección de obra
                del proyecto mayor.
              </p>
            </div>
          </div>
          <div class="module imagenes-LasSetas">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla5.webp"
              alt="AntiqueariumSeta"
            />
            <figcaption class="leyendaImagen">
              Escena de Star Wars en la Plaza de España.
            </figcaption>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.995852947235108%2C37.39196489541947%2C-5.989866256713868%2C37.39446240280735&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de la Encarnación, s/n</p>
        <p>41013 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> info@setasdesevilla.com</p>
        <p><strong>E-mail:</strong> setasdesevilla@sacyr.com</p>
        <p><strong>Tlf:</strong> +34 606 635 214</p>
        <p><strong>Tlf:</strong> +34 954 561 512</p>
        <p>
          <strong>web: </strong>
          <a href="http://www.setasdesevilla.com"
            >http://www.setasdesevilla.com</a
          >
        </p>
        <p>
          <strong>web: </strong>
          <a
            href="https://www.andalucia.org/es/sevilla-turismo-cultural-metropol-parasol"
            >https://www.andalucia.org/es/sevilla-turismo-cultural-metropol-parasol</a
          >
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
