<div class="background-image">
  <!--Contenedor-->
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="CatedralSevilla"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="slider">
        <input type="radio" name="slide" id="slide1" checked />
        <input type="radio" name="slide" id="slide2" />
        <input type="radio" name="slide" id="slide3" />
        <input type="radio" name="slide" id="slide4" />
        <input type="radio" name="slide" id="slide5" />
        <input type="radio" name="slide" id="slide6" />
        <input type="radio" name="slide" id="slide7" />
        <div class="slides">
          <div class="slide slide1">
            <img
              src="../../assets/img/Monumentos/Sevilla/CatedralGiralda/CatedralSevilla2.jpg"
              alt="CatedralSevilla"
            />
            <div class="info">
              <h2>La Catedral de Sevilla</h2>
              <p>
                La Catedral de Sevilla te dejará perplejo por sus proporciones.
                Cuentan las crónicas que fue concebido por el Cabildo
                Catedralicio bajo las palabras...
              </p>
              <a [routerLink]="['/CatedralGiraldaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide2">
            <img
              src="../../assets/img/Monumentos/Sevilla/RealAlcazar/realalcazardesevilla1.jpg"
              alt="RealAlcazar"
            />
            <div class="info">
              <h2>El Real Alcázar</h2>
              <p>
                A escasos metros de la Catedral, podrás ver las murallas tras
                las cuales se extiende el Real Alcázar de Sevilla: un palacio...
              </p>
              <a [routerLink]="['/RealAlcazarSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide3">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
            <div class="info">
              <h2>La Plaza de España</h2>
              <p>
                La Plaza de España es un espectáculo de luz y majestuosidad.
                Encuadrada en el Parque de María Luisa, esta plaza fue
                diseñada...
              </p>
              <a [routerLink]="['/PlazaEspanaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide4">
            <img
              src="../../assets/img/Monumentos/Sevilla/La Maestranza/LaMaestranza.jpg"
              alt="LaMaestranza"
            />
            <div class="info">
              <h2>La Maestranza</h2>
              <p>
                La Real Maestranza de Caballería de Sevilla es una institución
                de caballería creada en 1670 de la antigua Cofradía...
              </p>
              <a [routerLink]="['/MaestranzaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide5">
            <img
              src="../../assets/img/Monumentos/Sevilla/TorreOro/TorreOro.jpg"
              alt="TorreOro"
            />
            <div class="info">
              <h2>La Torre del Oro</h2>
              <p>
                Es una torre albarrana situada en el margen izquierdo del río
                Guadalquivir, en la ciudad de Sevilla, junto a la plaza de toros
                de la Real Maestranza. Su altura...
              </p>
              <a [routerLink]="['/TorreOroSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide6">
            <img
              src="../../assets/img/Monumentos/Sevilla/PuenteTriana/PuenteTriana.jpg"
              alt="PuenteTrianaSevilla"
            />
            <div class="info">
              <h2>Puente de Triana</h2>
              <p>
                Su emplazamiento coincidía con el del actual Puente de Isabel
                II, El Castillo, en el lado de Triana y a la altura de la puerta
                de la muralla, en el lado de la ciudad; solo en 1845 cuando se
                iniciaron las obras...
              </p>
              <a [routerLink]="['/PuenteTrianaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide7">
            <img
              src="../../assets/img/Monumentos/Sevilla/LasSetas/Setas1.jpg"
              alt="LaSetaSevilla"
            />
            <div class="info">
              <h2>La seta</h2>
              <p>
                Tiene unas dimensiones de 150 x 70 metros y una altura
                aproximada de 26 metros, y fue el proyecto ganador del concurso
                abierto por el Ayuntamiento de Sevilla para llevar a cabo la
                rehabilitación de la plaza...
              </p>
              <a [routerLink]="['/LaSetaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide8">
            <img
              src="../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias1.jpg"
              alt="ArchivoIndias"
            />
            <div class="info">
              <h2>El Archivo de Indias</h2>
              <p>
                El Archivo General de Indias, antigua Lonja de Mercaderes, fue
                construido en 1572. Fue proyectado por Juan de Herrera y
                edificado por Alonso de Vandelviva y Juan de Minjares. En el
                siglo XVII se construyó...
              </p>
              <a [routerLink]="['/ArchivoIndiasSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide9">
            <img
              src="../../assets/img/Monumentos/Sevilla/HospitalVenerables/Venerables1.jpg"
              alt="HospitalVenerables"
            />
            <div class="info">
              <h2>Hospital de los Venerables</h2>
              <p>
                El edificio obra de Leonardo de Figueroa, es uno de los más
                importantes del barroco sevillano. Es muy original su patio, con
                galerías de arcadas a un nivel más alto y una fuente central
                a...
              </p>
              <a [routerLink]="['/HospitalVerenablesSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide10">
            <img
              src="../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad1.jpg"
              alt="HospitalCaridad"
            />
            <div class="info">
              <h2>Hospital de la Caridad</h2>
              <p>
                Tenía entre sus cometidos la asistencia a enfermos abandonados y
                el enterramiento de ajusticiados y ahogados, así como elevar
                sufragios por sus almas. Tuvo su sede en una capilla, dedicada a
                San Jorge, construida en una...
              </p>
              <a [routerLink]="['/HospitalCaridadSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide11">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoArqueologico/MuseoArqueologicoSevilla.jpg"
              alt="MuseoArqueologico"
            />
            <div class="info">
              <h2>Museo Arqueologico</h2>
              <p>
                El Museo Arqueológico de Sevilla tiene sus orígenes a finales
                del siglo XIX, cuando se gesta una colección pública de
                antigüedades, la mayoría de ella extraídas de la ciudad...
              </p>
              <a [routerLink]="['/MuseoArqueologicoSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide12">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoarteCostumbre/MuseoarteCostumbreSevilla.jpg"
              alt="MuseoArtesCostumbresSevilla"
            />
            <div class="info">
              <h2>Museo de Artes y Costumbres</h2>
              <p>
                El Museo de Artes y Costumbres Populares de Sevilla, está
                localizado en el Parque de María Luisa, dentro de la Plaza de
                América. Ocupa el Pabellón Mudéjar, edificio construido en 1914,
                por el arquitecto...
              </p>
              <a [routerLink]="['/MuseoArtesCostumbresSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide13">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Ayuntamiento</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide14">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Palacio de Dueñas</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide15">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Casa Salinas</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide16">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Casa Salinas</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide17">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Palacio de los Marqueses de la Algaba</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide18">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Museo de Bellas Artes</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide19">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Casa Fabiola Museo Bellver</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide20">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Museo Baile Flamenco</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide21">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Museo Militar</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide22">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Pabellon de la Navegación</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide23">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Acuario</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide24">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Casa de la Ciencia</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide25">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Espacio Nao Victoria</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide26">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Espacio Santa Clara</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide27">
            <!-- <img src="" alt="Monumento 1"> -->
            <div class="info">
              <h2>Centro ceramica Santa Ana</h2>
              <p>Descripción breve del monumento...</p>
              <a href="enlace-a-la-pagina-del-monumento" class="button"
                >Más información</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
        <label for="slide6"></label>
        <label for="slide7"></label>
      </div>
    </div>
    <!--Fin de Monumentos-->
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt=""
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
