<div class="background-image">
  <!--Contenedor-->
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img src="../../assets/img/banderas/BanderaEspana.jpg" alt="LogoTouristSpain" class="logo-icon">
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/CatedralGiralda/CatedralSevilla2.jpg"
            alt="CatedralSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/RealAlcazar/realalcazardesevilla1.jpg"
            alt="RealAlcazarSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
            alt="PlazaEspanaSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/La Maestranza/LaMaestranza.jpg"
            alt="MaestranzaSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/TorreOro/TorreOro.jpg"
            alt="TorreOroSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/PuenteTriana/PuenteTriana.jpg"
            alt="PuenteTrianaSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/LasSetas/Setas1.jpg"
            alt="LaSetaSevilla"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias1.jpg"
            alt="ArchivoIndias"
          />
        </li>
        <li>
          <img
            src="../../assets/img/Monumentos/Sevilla/AyuntamientoSevilla/AyuntamientoSevilla.jpg"
            alt="AyuntamientoSevilla"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <!--Fin de cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="slider">
        <input type="radio" name="slide" id="slide1" checked />
        <input type="radio" name="slide" id="slide2" />
        <input type="radio" name="slide" id="slide3" />
        <input type="radio" name="slide" id="slide4" />
        <input type="radio" name="slide" id="slide5" />
        <div class="slides">
          <div class="slide slide1">
            <img
              src="../../assets/img/Monumentos/Sevilla/CatedralGiralda/CatedralSevilla2.jpg"
              alt="CatedralSevilla"
            />
            <div class="info">
              <h2>La Catedral de Sevilla</h2>
              <p>
                La Catedral de Sevilla te dejará perplejo por sus proporciones.
                Cuentan las crónicas que fue concebido por el Cabildo
                Catedralicio bajo las palabras...
              </p>
              <a [routerLink]="['/CatedralGiraldaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide2">
            <img
              src="../../assets/img/Monumentos/Sevilla/RealAlcazar/realalcazardesevilla1.jpg"
              alt="RealAlcazar"
            />
            <div class="info">
              <h2>El Real Alcázar</h2>
              <p>
                A escasos metros de la Catedral, podrás ver las murallas tras
                las cuales se extiende el Real Alcázar de Sevilla: un palacio...
              </p>
              <a [routerLink]="['/RealAlcazarSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide3">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
            <div class="info">
              <h2>La Plaza de España</h2>
              <p>
                La Plaza de España es un espectáculo de luz y majestuosidad.
                Encuadrada en el Parque de María Luisa, esta plaza fue
                diseñada...
              </p>
              <a [routerLink]="['/PlazaEspanaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide4">
            <img
              src="../../assets/img/Monumentos/Sevilla/La Maestranza/LaMaestranza.jpg"
              alt="LaMaestranza"
            />
            <div class="info">
              <h2>La Maestranza</h2>
              <p>
                La Real Maestranza de Caballería de Sevilla es una institución
                de caballería creada en 1670 de la antigua Cofradía...
              </p>
              <a [routerLink]="['/MaestranzaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide5">
            <img
              src="../../assets/img/Monumentos/Sevilla/TorreOro/TorreOro.jpg"
              alt="TorreOro"
            />
            <div class="info">
              <h2>La Torre del Oro</h2>
              <p>
                Es una torre albarrana situada en el margen izquierdo del río
                Guadalquivir, en la ciudad de Sevilla, junto a la plaza de toros
                de la Real Maestranza. Su altura...
              </p>
              <a [routerLink]="['/TorreOroSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide6">
            <img
              src="../../assets/img/Monumentos/Sevilla/PuenteTriana/PuenteTriana.jpg"
              alt="PuenteTrianaSevilla"
            />
            <div class="info">
              <h2>Puente de Triana</h2>
              <p>
                Su emplazamiento coincidía con el del actual Puente de Isabel
                II, El Castillo, en el lado de Triana y a la altura de la puerta
                de la muralla, en el lado de la ciudad; solo en 1845 cuando se
                iniciaron las obras...
              </p>
              <a [routerLink]="['/PuenteTrianaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide7">
            <img
              src="../../assets/img/Monumentos/Sevilla/LasSetas/Setas1.jpg"
              alt="LaSetaSevilla"
            />
            <div class="info">
              <h2>La seta</h2>
              <p>
                Tiene unas dimensiones de 150 x 70 metros y una altura
                aproximada de 26 metros, y fue el proyecto ganador del concurso
                abierto por el Ayuntamiento de Sevilla para llevar a cabo la
                rehabilitación de la plaza...
              </p>
              <a [routerLink]="['/LaSetaSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide8">
            <img
              src="../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias1.jpg"
              alt="ArchivoIndias"
            />
            <div class="info">
              <h2>El Archivo de Indias</h2>
              <p>
                El Archivo General de Indias, antigua Lonja de Mercaderes, fue
                construido en 1572. Fue proyectado por Juan de Herrera y
                edificado por Alonso de Vandelviva y Juan de Minjares. En el
                siglo XVII se construyó...
              </p>
              <a [routerLink]="['/ArchivoIndiasSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide9">
            <img
              src="../../assets/img/Monumentos/Sevilla/HospitalVenerables/Venerables1.jpg"
              alt="HospitalVenerables"
            />
            <div class="info">
              <h2>Hospital de los Venerables</h2>
              <p>
                El edificio obra de Leonardo de Figueroa, es uno de los más
                importantes del barroco sevillano. Es muy original su patio, con
                galerías de arcadas a un nivel más alto y una fuente central
                a...
              </p>
              <a [routerLink]="['/HospitalVerenablesSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide10">
            <img
              src="../../assets/img/Monumentos/Sevilla/HospitalCaridad/Caridad1.jpg"
              alt="HospitalCaridad"
            />
            <div class="info">
              <h2>Hospital de la Caridad</h2>
              <p>
                Tenía entre sus cometidos la asistencia a enfermos abandonados y
                el enterramiento de ajusticiados y ahogados, así como elevar
                sufragios por sus almas. Tuvo su sede en una capilla, dedicada a
                San Jorge, construida en una...
              </p>
              <a [routerLink]="['/HospitalCaridadSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide11">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoArqueologico/MuseoArqueologicoSevilla.jpg"
              alt="MuseoArqueologico"
            />
            <div class="info">
              <h2>Museo Arqueologico</h2>
              <p>
                El Museo Arqueológico de Sevilla tiene sus orígenes a finales
                del siglo XIX, cuando se gesta una colección pública de
                antigüedades, la mayoría de ella extraídas de la ciudad...
              </p>
              <a [routerLink]="['/MuseoArqueologicoSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide12">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoarteCostumbre/MuseoarteCostumbreSevilla.jpg"
              alt="MuseoArtesCostumbresSevilla"
            />
            <div class="info">
              <h2>Museo de Artes y Costumbres</h2>
              <p>
                El Museo de Artes y Costumbres Populares de Sevilla, está
                localizado en el Parque de María Luisa, dentro de la Plaza de
                América. Ocupa el Pabellón Mudéjar, edificio construido en 1914,
                por el arquitecto...
              </p>
              <a [routerLink]="['/MuseoArtesCostumbresSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide13">
            <img
              src="../../assets/img/Monumentos/Sevilla/AyuntamientoSevilla/AyuntamientoSevilla.jpg"
              alt="AyuntamientoSevilla"
            />
            <div class="info">
              <h2>Ayuntamiento de Sevilla</h2>
              <p>
                Durante el siglo XIX el Convento de San Francisco sufrió una
                ocupación militar, dos incendios y la exclaustración debida a la
                desamorización de Mendizábal, con lo que estaba casi en ruinas.
                Un primer proyecto se aprueba por la Real Academia de Bellas
                Artes de San Fernando...
              </p>
              <a [routerLink]="['/AyuntamientoSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide14">
            <img
              src="../../assets/img/Monumentos/Sevilla/PalacioDuenas/PalacioDuenas1.jpg"
              alt="PalacioDuenas"
            />
            <div class="info">
              <h2>Palacio de Dueñas</h2>
              <p>
                El interés arquitectónico de este edificio, ejemplo de la
                arquitectura nobiliaria sevillana, radica en la mezcla de
                estilos gótico y mudéjar. El principal atractivo...
              </p>
              <a [routerLink]="['/PalacioDuenasSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide15">
            <img
              src="../../assets/img/Monumentos/Sevilla/CasaSalinas/CasaSalinas.jpg"
              alt="CasaSalinas"
            />
            <div class="info">
              <h2>Casa Salinas</h2>
              <p>
                Situada en el área monumental del casco Antiguo de Sevilla, a
                dos pasos de la catedral, La Giralda y Los Reales Alcázares,
                esta casa compartió junto a otras mansiones...
              </p>
              <a [routerLink]="['/CasaSalinasSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide16">
            <img
              src="../../assets/img/Monumentos/Sevilla/PalacioMarquesesAlgaba/MarquesesAlgaba.jpg"
              alt="MarquesesAlgaba"
            />
            <div class="info">
              <h2>Palacio de los Marqueses de la Algaba</h2>
              <p>
                El palacio con una imponente portada gótico mudéjar que aún hoy
                se conserva, sigue siendo uno de los grandes desconocidos del
                patrimonio monumental de la ciudad de Sevilla. Tras un lento y
                progresivo...
              </p>
              <a
                [routerLink]="['/PalacioMarquesesAlgabaSevilla']"
                class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide17">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoBellasArtes/MuseoBellasArtes2.jpg"
              alt="MuseoBellasArtes"
            />
            <div class="info">
              <h2>Museo de Bellas Artes</h2>
              <p>
                El edificio que acoge el museo es el antiguo Convento de la
                Merced , un edificio del siglo XVII que está considerado uno de
                las mejores ejemplos del ...
              </p>
              <a [routerLink]="['/MuseoBellasArtesSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide18">
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoFlamenco/MuseoFlamenco.jpg"
              alt="MuseoFlamenco"
            />
            <div class="info">
              <h2>Museo Baile Flamenco</h2>
              <p>
                La práctica totalidad del Museo, está dedicado a una de las
                expresiones artísticas que más arraigo e importancia ha tenido
                en la cultura de Andalucía, como es el baile Flamenco. Es el
                primer, y único museo en el mundo...
              </p>
              <a [routerLink]="['/MuseoBaileFlamencoSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide19">
            <img
              src="../../assets/img/Monumentos/Sevilla/PabellonNavegacion/PabellonNavegacion.jpg"
              alt="PabellonNavegacion"
            />
            <div class="info">
              <h2>Pabellon de la Navegación</h2>
              <p>
                El Pabellón de la Navegación fue dedicado a las expediciones
                científicas y a los descubrimientos y avances en la técnica
                naval. En algunas...
              </p>
              <a [routerLink]="['/PabellonNavegacionSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
          <div class="slide slide20">
            <img
              src="../../assets/img/Monumentos/Sevilla/AcuarioSevilla/Acuario1.jpg"
              alt="AcuarioSevilla"
            />
            <div class="info">
              <h2>Acuario</h2>
              <p>
                Podrás admirar más de 500 especies de diversos ecosistemas. Las
                áreas temáticas son las siguientes: Guadalquivir, Atlántico,
                Oceanario, Selva...
              </p>
              <a [routerLink]="['/AcuarioSevilla']" class="button"
                >Más información</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
    </div>
    <!--Fin de Monumentos-->
    <!--Inicio de Restaurantes-->
    <div class="Restaurantes-sevilla">
      <h1 class="titulo">Restaurantes de Sevilla</h1>
      <div class="slider">
        <input type="radio" name="slide" id="slide6" checked />
        <input type="radio" name="slide" id="slide7" />
        <input type="radio" name="slide" id="slide8" />
        <input type="radio" name="slide" id="slide9" />
        <input type="radio" name="slide" id="slide10" />
        <div class="slides">
          <div class="slide slide1">
            <img
              src="https://static-sevilla.abc.es/media/gurmesevilla/2018/03/baco-borbolla-sevilla-3-1024x576.jpg"
              alt="BacoBorbolla"
            />
            <div class="info">
              <h2>Baco Borbolla</h2>
              <p><strong>Dirección:</strong> Av. de la Borbolla, 12</p>
              <p><strong>Teléfono:</strong> +34 954 536 550</p>
              <p>
                <strong> Web:</strong>
                <a href="baco.es">baco.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide2">
            <img
              src="https://images.squarespace-cdn.com/content/v1/530e60fee4b04f4bcdf808bd/1552329773023-QDHC0EGJ5WE722UWC86N/bar-estraperlo-1920-3-1440x810.jpg"
              alt="Estraperlo"
            />
            <div class="info">
              <h2>Restaurante Estraperlo</h2>
              <p><strong>Dirección:</strong>C/Sta. Rosa, 4</p>
              <p><strong>Teléfono:</strong> +34 +34 954 963 538</p>
              <p>
                <strong> Web:</strong>
                <a href="estraperlosevilla.com"> estraperlosevilla.com </a>
              </p>
            </div>
          </div>
          <div class="slide slide3">
            <img
              src="https://s2.abcstatics.com/media/gurmesevilla/2021/03/casa-ozama-4.jpg"
              alt="CasaOzama"
            />
            <div class="info">
              <h2>Casa Ozama</h2>
              <p><strong>Dirección:</strong> Av. de la Borbolla, 59</p>
              <p><strong>Teléfono:</strong> +34 955 517 405</p>
              <p>
                <strong> Web:</strong>
                <a href="casaozama.es">casaozama.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide4">
            <img
              src="https://menu.tipsipro.com/media/uploads/Ignacio_Vidal_restaurantes_sevilla_Foodyt_banner_felipe_ii.jpg"
              alt="FelipeII"
            />
            <div class="info">
              <h2>Restaurante Ignacio Vidal Felipe II</h2>
              <p><strong>Dirección:</strong> C/Progreso, 27</p>
              <p><strong>Teléfono:</strong> +34 954 616 496</p>
              <p>
                <strong> Web:</strong>
                <a href="restaurantevidal.es/ignacio-vidal-felipe-ii">restaurantevidal.es/ignacio-vid al-felipe-ii</a>
              </p>
            </div>
          </div>
          <div class="slide slide5">
            <img
              src="https://s3.abcstatics.com/media/gurmesevilla/2019/06/T-Raza.jpg"
              alt="LaRaza"
            />
            <div class="info">
              <h2>La Raza Puerto Sevilla</h2>
              <p><strong>Dirección:</strong> Muelle de las Delicias s/n</p>
              <p><strong>Teléfono:</strong> +34 672 646 041</p>
              <p>
                <strong> Web:</strong>
                <a href="larazapuertosevilla.com">larazapuertosevilla.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide6">
            <img
              src="https://s1.abcstatics.com/media/gurmesevilla/2019/02/sobretablas-sevilla-gurme.jpg"
              alt="Sobretablas"
            />
            <div class="info">
              <h2>Sobretablas Restaurante</h2>
              <p><strong>Dirección:</strong> C/Colombia, 7</p>
              <p><strong>Teléfono:</strong> +34 955 546 451</p>
              <p>
                <strong> Web:</strong>
                <a href="sobretablasrestaurante.com">sobretablasrestaurante.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide7">
            <img
              src="https://s2.abcstatics.com/media/gurmesevilla/2017/07/manolo-leon-gurme-1-1440x810.jpg"
              alt="ManoloJuan"
            />
            <div class="info">
              <h2>Manolo León Juan Pablos</h2>
              <p><strong>Dirección:</strong> C/ Juan Pablos, 8</p>
              <p><strong>Teléfono:</strong> +34 954 237 109</p>
              <p>
                <strong> Web:</strong>
                <a href="manololeon.com/juan-pablos">manololeon.com/juan-pablos</a>
              </p>
            </div>
          </div>
          <div class="slide slide8">
            <img
              src="https://s2.abcstatics.com/media/gurmesevilla/2016/07/casa-robles-sevilla-6.jpg"
              alt="CasaRobles"
            />
            <div class="info">
              <h2>Casa Robles</h2>
              <p><strong>Dirección:</strong> C/Álvarez Quintero, 58</p>
              <p><strong>Teléfono:</strong> +34 954 213 150</p>
              <p>
                <strong> Web:</strong>
                <a href="casarobles.es">casarobles.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide9">
            <img
              src="https://www.lasteresas.es/img/lasTeresas11.jpg"
              alt="LasTeresas"
            />
            <div class="info">
              <h2>Las Teresas</h2>
              <p><strong>Dirección:</strong> C/Santa Teresa, 2</p>
              <p><strong>Teléfono:</strong> +34 954 213 069</p>
              <p>
                <strong> Web:</strong>
                <a href="lasteresas.es">lasteresas.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide10">
            <img
              src="https://sevilla.cosasdecome.es/wp-content/uploads/2018/01/Exterior-foto-Bodeguita-Casablanca.jpg"
              alt="Casablanca"
            />
            <div class="info">
              <h2>Bodeguita Casablanca</h2>
              <p><strong>Dirección:</strong> C/Adolfo Rodríguez Jurado, 12</p>
              <p><strong>Teléfono:</strong> +34 954 224 114</p>
              <p>
                <strong> Web:</strong>
                <a href="bodeguitacasablanca.com">bodeguitacasablanca.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide11">
            <img
              src="https://static-sevilla.abc.es/media/gurmesevilla/2009/11/casa-roman-sevilla-1.jpg"
              alt="CasaRoman"
            />
            <div class="info">
              <h2>Casa Román</h2>
              <p><strong>Dirección:</strong> Plaza de los Venerables, 1</p>
              <p><strong>Teléfono:</strong> +34 954 228 483</p>
              <p>
                <strong> Web:</strong>
                <a href="casaromansevilla.com">casaromansevilla.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide12">
            <img
              src="https://fotografias.larazon.es/clipping/cmsimages01/2022/06/22/E05D25CD-CE03-4091-8203-F104D55C4D41/98.jpg?crop=6720,3781,x0,y2303&width=1900&height=1069&optimize=low&format=webply"
              alt="OvejasNegras"
            />
            <div class="info">
              <h2>Ovejas Negras</h2>
              <p><strong>Dirección:</strong> C/Hernando Colón, 8</p>
              <p><strong>Teléfono:</strong> +34 955 123 811</p>
              <p>
                <strong> Web:</strong>
                <a href=".ovejasnegrastapas.com">.ovejasnegrastapas.com
                </a>
              </p>
            </div>
          </div>
          <div class="slide slide13">
            <img
              src="https://res.cloudinary.com/tf-lab/image/upload/restaurant/05328431-c49d-432c-954f-d0ce8f4be3c5/49996cb7-8062-464d-a4f5-a6ecfb776ce4.jpg"
              alt="CasaMoneda"
            />
            <div class="info">
              <h2>Casa de La Moneda</h2>
              <p><strong>Dirección:</strong> C / Adolfo Rodríguez Jurado, 3</p>
              <p><strong>Teléfono:</strong> +34 954 824 443</p>
              <p>
                <strong> Web:</strong>
                <a href="/barcasalamoneda.com">/barcasalamoneda.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide14">
            <img
              src="https://www.enredando.info/wp-content/uploads/2022/06/20220328_174058-scaled.jpg"
              alt="cerveceriagiralda"
            />
            <div class="info">
              <h2>Cervecería Giralda</h2>
              <p><strong>Dirección:</strong> C/Mateos Gago, 1</p>
              <p><strong>Teléfono:</strong> +34 954 228 250</p>
              <p>
                <strong> Web:</strong>
                <a href="cerveceriagiralda.es">cerveceriagiralda.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide15">
            <img
              src="https://restaurantemodesto.com/wp-content/uploads/2024/03/modesto.jpg"
              alt="Modesto"
            />
            <div class="info">
              <h2>Restaurante Modesto</h2>
              <p><strong>Dirección:</strong> C/Cano y Cueto, 5</p>
              <p><strong>Teléfono:</strong> +34 954 416 811</p>
              <p>
                <strong> Web:</strong>
                <a href="http://www.modestorestaurantes.com/">http://www.modestorestaurantes.com/</a>
              </p>
            </div>
          </div>
          <div class="slide slide16">
            <img
              src="https://s2.abcstatics.com/media/gurmesevilla/2009/04/bodega-emorales-tapas.jpg"
              alt="CasaMorales"
            />
            <div class="info">
              <h2>Casa Morales</h2>
              <p><strong>Dirección:</strong> C/García de Vinuesa, 11</p>
              <p><strong>Teléfono:</strong> +34 954 221 242</p>
              <p>
                <strong> Web:</strong>
                <a href="casamoralessevilla.es">casamoralessevilla.es</a>
              </p>
            </div>
          </div>
          <div class="slide slide17">
            <img
              src="https://azahar-sevilla.com/sevilletapas/wp-content/uploads/2019/04/inchausti-23-1.jpg"
              alt="Inchausti"
            />
            <div class="info">
              <h2>La Barra de Inchausti</h2>
              <p><strong>Dirección:</strong> C/ Tomás de Ibarra, 10</p>
              <p><strong>Teléfono:</strong> +34 954 871 322</p>
              <p>
                <strong> Web:</strong>
                <a href="la-barra-de-inchausti.negocio.site">la-barra-de-inchausti.negocio.site</a>
              </p>
            </div>
          </div>
          <div class="slide slide18">
            <img
              src="https://s1.abcstatics.com/media/gurmesevilla/2009/04/barbiana-tapa.jpg"
              alt="Barbiana"
            />
            <div class="info">
              <h2>Barbiana</h2>
              <p><strong>Dirección:</strong>C/Albareda, 11</p>
              <p><strong>Teléfono:</strong> +34 954 211 107</p>
              <p>
                <strong> Web:</strong>
                <a href="restaurantebarbiana.com">restaurantebarbiana.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide19">
            <img
              src="https://elpinton.com/wp-content/uploads/2023/08/cuarto-de-maravillas-el-pinton-2-.jpeg"
              alt="ElPinton"
            />
            <div class="info">
              <h2>El Pintón</h2>
              <p><strong>Dirección:</strong> C/Francos, 42</p>
              <p><strong>Teléfono:</strong> +34 955 075 153</p>
              <p>
                <strong> Web:</strong>
                <a href="elpinton.com">elpinton.com</a>
              </p>
            </div>
          </div>
          <div class="slide slide20">
            <img
              src="https://media-cdn.tripadvisor.com/media/photo-s/05/d0/1a/e7/bar-europa.jpg"
              alt="BarEuropa"
            />
            <div class="info">
              <h2>Bar Europa</h2>
              <p><strong>Dirección:</strong> C/Siete Revueltas, 35</p>
              <p><strong>Teléfono:</strong> +34 954 217 908</p>
              <p>
                <strong> Web:</strong>
                <a href="bareuropasevilla.com">bareuropasevilla.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <label for="slide6"></label>
        <label for="slide7"></label>
        <label for="slide8"></label>
        <label for="slide9"></label>
        <label for="slide10"></label>
      </div>
    </div>
    <!--Fin de Restaurantes-->
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt=""
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
        <li><a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a></li>
        <li><a [routerLink]="['../TerminoServicios']">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
