<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/MuseoarteCostumbre/MuseoarteCostumbreSevilla.jpg"
              alt="MuseoarteCostumbre"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="MuseoarteCostumbre-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Museo de Artes y Costumbres Populares
              </h1>
              <p class="style-texto">
                El Museo de Artes y Costumbres Populares de Sevilla, está
                localizado en el Parque de María Luisa, dentro de la Plaza de
                América. Ocupa el Pabellón Mudéjar, edificio construido en 1914,
                por el arquitecto Aníbal González. con motivo de la Exposición
                Iberoamericana de Sevilla (1929).
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="MuseoarteCostumbre-Informacion">
              <h2 class="titulo">
                Una de las colecciones de Cerámica Popular Andaluza más
                completas de Europa
              </h2>
              <p class="style-texto">
                Comprende un espacio de 5496 m² para exposición permanente y
                servicios. De estilo mudéjar, está construido en ladrillo visto
                con aplicaciones de cerámica repleta de motivos llenos de
                fantasía.
              </p>
              <p class="style-texto">
                Durante la Exposición Iberoamericana era conocido como “Pabellón
                de Arte Antiguo”. En 1972 se realizaron reformas. Sus funciones
                como museo se desarrollan desde el 4 de marzo de 1973, fecha en
                que abre sus puertas al público. La Planta Primera y la Planta
                Semisótano son las equipadas como museo. También está equipado
                con una Sala de Audiovisuales, una Sala de Conferencias. La
                colección de Cerámica Popular Andaluza que posee el museo, es
                una de las más completa existente en Europa junto a la existente
                en el Museo de Hamburgo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.992484092712403%2C37.369688223046246%2C-5.9842658042907715%2C37.37468463868145&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de América, 3</p>
        <p>41013 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> museoacp.ccul@juntadeandalucia.es</p>
        <p><strong>Tlf:</strong> +34 955 010 010</p>
        <p>
          <strong>Web:</strong>
          <a
            href="http://www.museosdeandalucia.es/web/museodeartesycostumbrespopularesdesevilla"
          >
            http://www.museosdeandalucia.es/web/<br />museodeartesycostumbres<br />popularesdesevilla</a
          >
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
