<div class="background-image">
  <div class="container">
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>

      <div class="row">
        <div class="column">
          <div class="module imagenes-catedral">
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral1.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral2.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral3.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral4.jpg"
              alt=""
            />
          </div>
          <div class="module">
            <div class="Catedral-Informacion">
              <h1 class="module_header titulo"  id="catedral_header">La Catedral</h1>
              <p class="style-texto" [@slideDown]="mostrarParrafo ? 'visible' : 'hidden'">
                La Catedral de Sevilla te dejará perplejo por sus proporciones.
                Cuentan las crónicas que fue concebido por el Cabildo
                Catedralicio bajo las palabras «Hagamos un templo tan grandioso
                que los que lo vieren labrado nos tengan por locos». Todo en la
                Catedral es colosal. Podrás admirar el retablo mayor,
                considerado por muchos una de las obras más destacadas de la
                historia del arte, o ver de cerca el mausoleo donde descansan
                los restos de Cristóbal Colón.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="Giralda-Informacion">
              <h1 class="module_header titulo">La Giralda</h1>
              <p class="style-texto" [@slideDown]="mostrarParrafo ? 'visible' : 'hidden'">
                La Giralda de Sevilla es una torre de unas dimensiones sin
                comparación para una construcción de su época (desde el siglo
                XII hasta el XVI). De hecho, fue durante mucho tiempo la
                edificación más alta del mundo (101 metros contando el
                Giraldillo, la preciosa veleta que la corona y uno de los
                símbolos de la ciudad). La Giralda es una perfecta simbiosis de
                diferentes estilos arquitectónicos, de diferentes
                civilizaciones, una torre que comienza siendo alminar y termina
                siendo campanario. Cuando subas a su mirador podrás contemplar
                toda la ciudad, y a sus pies el Patio de los Naranjos y la mayor
                Catedral gótica que existe.
              </p>
            </div>
          </div>
          <div class="module imagenes-giralda">
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral5.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
