<div class="background-image">
  <div class="container">
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1>Monumentos de Sevilla</h1>
    </div>
  </div>
</div>
