<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla2.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla3.jpg"
              alt="PlazaEspana"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module imagenes-PlazaEspana">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla4.jpg"
              alt="PlazaEspana"
            />
            <figcaption class="leyendaImagen">
              Monumento de Aníbal González frente a la Plaza de España.
            </figcaption>
          </div>
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Museo de Bellas Artes de Sevilla
              </h1>
              <h2 class="titulo">Un edificio del siglo XVII, sede del Museo</h2>
              <p class="style-texto">
                El Museo de Bellas Artes se encuentra en un precioso y tranquilo
                barrio que, como no podía ser de otro modo, ha tomado su nombre:
                el barrio del Museo.
              </p>
              <p class="style-texto">
                El edificio que acoge el museo es el
                <strong> antiguo Convento de la Merced </strong>, un edificio
                del siglo XVII que está considerado uno de las mejores ejemplos
                del manierismo andaluz. Sus patios, salas y hasta una iglesia
                constituyen un magnífico contexto para la colección museística
                que atesora.
              </p>
              <p class="style-texto">
                En el exterior, destaca una elegante plaza dominada por una
                estatua dedicada al pintor Murillo.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">La obra de Murillo</h2>
              <p class="style-texto">
                <strong> Bartolomé Esteban Murillo </strong> es uno de los
                pintores más universales que ha dado Sevilla. En el Museo de
                Bellas Artes conocerás como en ningún otro espacio la dimensión
                de este artista y la calidad sus mejores obras.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">Lo que no te puedes perder</h2>
              <p class="style-texto">
                Además de los cuadros de Murillo de la sala V, como la Virgen de
                la Servilleta o la Inmaculada llamada “La Colosal”, el Museo
                guarda un enorme conjunto de obras maestras. Seguidamente te
                destacamos algunas.
              </p>
              <p class="style-texto">
                Retrato de D. Cristóbal Suárez de Ribera, de Velázquez.
              </p>
              <p class="style-texto">
                San Hugo en el Refectorio, Jesús crucificado expirante y La
                Virgen de las Cuevas, todos estos cuadros de Francisco de
                Zurbarán.
              </p>
              <p class="style-texto">Santiago el Mayor, de José de Ribera.</p>
              <p class="style-texto">
                Retrato de Jorge Manuel, pintado por El Greco.
              </p>
              <p class="style-texto">
                Escultura de San Jerónimo, de Pietro Torrigiano.
              </p>
              <p class="style-texto">
                Retrato del canónigo D. José Duaso y Latre, de Francisco de
                Goya.
              </p>
              <p class="style-texto">El monaguillo, de Alfonso Grosso.</p>
              <p class="style-texto">
                Sevilla en fiestas, de Gustavo Bacarisas.
              </p>
              <p class="style-texto">
                La muerte del maestro, de José Villegas.
              </p>
              <p class="style-texto">Las Cigarreras, de Gonzalo Bilbao.</p>
              <p class="style-texto">
                Retrato de Gustavo Adolfo Bécquer, obra de su hermano Valeriano.
              </p>
              <p class="style-texto">
                <a
                  href="https://www.museosdeandalucia.es/web/museodebellasartesdesevilla/propuestas-de-recorrido"
                  >Propuestas de recorrido del Museo.</a
                >
              </p>
            </div>
          </div>
          <div class="module imagenes-PlazaEspana">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla5.webp"
              alt="PlazaEspana"
            />
            <figcaption class="leyendaImagen">
              Escena de Star Wars en la Plaza de España.
            </figcaption>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.989769697189332%2C37.37572906917762%2C-5.985660552978516%2C37.37822711741257&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de España, s/n.</p>
        <p>41013 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> visitasevilla@sevillacityoffice.es</p>
        <p><strong>Tlf:</strong> +34 955 010 010</p>
        <p><strong>Tlf:</strong> +34 955 471 232</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
