<div class="background-image">
  <div class="container">
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla2.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla3.jpg"
              alt="PlazaEspana"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Hospital de los Verenables
              </h1>
              <p class="style-texto">
                El Hospital de los Venerables Sacerdotes fue fundado por Justino
                de Neve en 1675. El edificio consta de dos plantas y está
                integrado por el templo y lo que fue residencia de sacerdotes
                ancianos, la cual perdió su función original. Los Venerables,
                como popularmente se conoce, es sede de la Fundación FOCUS
                (Fondo de Cultura de Sevilla).
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <p class="style-texto">
                El edificio obra de Leonardo de Figueroa, es uno de los más
                importantes del barroco sevillano. Es muy original su patio, con
                galerías de arcadas a un nivel más alto y una fuente central a
                la que se desciende por gradas circulares decoradas con
                azulejos.
              </p>
              <p class="style-texto">
                Es muy interesante la escalera cubierta por una bóveda elíptica
                decorada con yeserías barrocas. La iglesia, de una sola nave,
                está cubierta por bóveda de medio cañón con lunetas y arcos
                fajones. Las pinturas al fresco de la bóveda del presbiterio son
                obras de Valdés Leal y representan la invención de la Santa
                Cruz; así como las del techo de la Sacristía que crean en un
                pequeño espacio una grandiosa perspectiva ilusionista. Las de la
                nave son de su hijo Lucas Valdés y representan el triunfo del
                Pontificado, simulando tapices. En el retablo mayor destaca la
                Apoteosis de San Fernando, obra de Lucas Valdés, y a ambos lados
                San Clemente, San Isidoro, obras de Virgilio Mattoni. La iglesia
                contiene esculturas de Martínez Montañes (siglo XVII) y Pedro
                Roldán. Para los Venerables pintó Murillo la más famosa de sus
                Inmaculadas, hoy en el Museo del Prado.
              </p>
              <p class="style-texto">
                Además acoge el Centro de Investigación Diego Velázquez, un
                espacio de la Fundación Focus que surge con motivo de la
                adquisición del lienzo de Santa Rufina en 2007, y responde a la
                necesidad de contar con un lugar para investigar, divulgar y
                reflexionar en torno a los antecedentes y consecuentes de la
                obra del genial pintor sevillano.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.991322696208955%2C37.38460827242328%2C-5.989268124103547%2C37.38585715906236&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de los Venerables, 8.</p>
        <p><strong>E-mail:</strong> hospitalvenerables.es</p>
        <p><strong>Tlf:</strong> 954562696</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
