<!--Inicio de Cabecera-->
<header class="header">
  <div class="logo">
    <img
      src="../../assets/img/banderas/BanderaEspana.jpg"
      alt="LogoTouristSpain"
      class="logo-icon"
    />
    TouristSpain
  </div>
  <nav class="nav-links">
    <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
    <a [routerLink]="['../Contactanos']" routerLinkActive="active">Contactanos</a>
  </nav>
</header>
<!--Fin de Cabecera-->
<!--Contenido-->
<div class="terminos-servicio">
  <h1 class="titulo">TÉRMINOS DE SERVICIO</h1>

  <h2 class="subtitulo">1. Aceptación de los términos</h2>
  <p class="style-texto">
    Al acceder y utilizar este sitio web, usted acepta estar sujeto a los
    presentes Términos de Servicio y a todas las leyes y reglamentaciones
    aplicables. Si no está de acuerdo con alguno de estos términos, se le
    prohíbe el uso o acceso a este sitio.
  </p>

  <h2 class="subtitulo">2. Modificaciones de los términos</h2>
  <p class="style-texto">
    Nos reservamos el derecho de modificar o reemplazar estos Términos de
    Servicio en cualquier momento. Las modificaciones serán efectivas
    inmediatamente después de la publicación de los nuevos términos en el sitio
    web. Es su responsabilidad revisar estos Términos de Servicio
    periódicamente.
  </p>

  <h2 class="subtitulo">3. Descripción del servicio</h2>
  <p class="style-texto">
    www.touristSpain.com ofrece información y servicios relacionados con el
    turismo, incluidos, pero no limitados a, guías de viaje, reservas de
    alojamiento y actividades turísticas.
  </p>

  <h2 class="subtitulo">4. Uso del sitio</h2>
  <p class="style-texto">
    Usted se compromete a utilizar el sitio web y los servicios ofrecidos de
    manera lícita y de acuerdo con los presentes Términos de Servicio. Queda
    prohibido el uso del sitio web para realizar actividades ilícitas o
    fraudulentas.
  </p>

  <h2 class="subtitulo">5. Propiedad intelectual</h2>
  <p class="style-texto">
    El contenido de este sitio web, incluyendo, pero no limitado a, texto,
    gráficos, imágenes, logotipos y software, es propiedad de TouristCorporation
    o de sus licenciantes y está protegido por las leyes de propiedad
    intelectual. Queda prohibida la reproducción, distribución o uso no
    autorizado de dicho contenido.
  </p>

  <h2 class="subtitulo">6. Limitación de responsabilidad</h2>
  <p class="style-texto">
    En ningún caso TouristCorporation será responsable de cualquier daño
    directo, indirecto, incidental, especial o consecuente que resulte del uso o
    la imposibilidad de uso de este sitio web o de los servicios proporcionados.
  </p>

  <h2 class="subtitulo">7. Enlaces a sitios de terceros</h2>
  <p class="style-texto">
    Este sitio web puede contener enlaces a otros sitios web que no son operados
    por TouristCorporation. No tenemos control sobre el contenido y las
    prácticas de esos sitios y no aceptamos ninguna responsabilidad por ellos.
  </p>

  <h2 class="subtitulo">8. Terminación</h2>
  <p class="style-texto">
    Nos reservamos el derecho de suspender o terminar su acceso a nuestro sitio
    web y servicios, sin previo aviso, por cualquier razón, incluyendo, sin
    limitación, el incumplimiento de estos Términos de Servicio.
  </p>

  <h2 class="subtitulo">9. Ley aplicable</h2>
  <p class="style-texto">
    Estos Términos de Servicio se rigen por las leyes de España. Usted se somete
    a la jurisdicción exclusiva de los tribunales ubicados en Sevilla para la
    resolución de cualquier disputa relacionada con estos términos.
  </p>

  <h2 class="subtitulo">10. Contacto</h2>
  <p class="style-texto">
    Si tiene alguna pregunta sobre estos Términos de Servicio, por favor,
    póngase en contacto con nosotros a través de TouristCorporation@gmail.com.
  </p>
</div>
<!--Fin de Contenido-->
<!-- Pie de página -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
    <br />
    <img
      class="mapaEspaña"
      src="../../assets/img/iconoslogos/MapaEspaña.webp"
      alt="MapaEspana"
    />
    <ul class="footer-links">
      <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
      <li>
        <a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a>
      </li>
      <li><a [routerLink]="['../TerminoServicios']">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin de Pie de pagina-->
