<div class="background-image">
  <div class="container">
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla2.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla3.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <!-- <div class="module imagenes-PlazaEspana">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla4.jpg"
              alt="PlazaEspana"
            />
            <figcaption class="leyendaImagen">
              Monumento de Aníbal González frente a la Plaza de España.
            </figcaption>
          </div> -->
          <div class="module">
            <div class="Maestranza-Informacion">
              <h1 class="module_header titulo" id="maestranza_header">
                Sede de la Real Maestranza de Caballería
              </h1>
              <!-- <h2 class="titulo">La obra cumbre de Aníbal González</h2> -->
              <p class="style-texto">
                La Real Maestranza de Caballería de Sevilla es una institución
                de caballería creada en 1670 de la antigua Cofradía de San
                Hermenegildo o Hermandad Caballeresca y con la tutela de Nuestra
                Señora del Rosario, cuya intención original era el
                adiestramiento de la nobleza en las armas y la práctica ecuestre
                de carácter bélico al servicio de la corona española, además de
                la capacitación de oficiales para el ejército.
              </p>
              <h2 class="titulo">Sede de la Real Maestranza de Caballería</h2>
              <p class="style-texto">
                Diez años después redactará y aprobará sus propias ordenanzas,
                realizándose sucesivas reformas en los años 1732, 1793, 1913,
                1966 realizándose la última en 1978. Es la primera de las
                maestranzas de caballería a la que se le concede el privilegio
                de que sea un miembro de la Familia Real el que la encabece, en
                el año de 1730. Desde sus inicios la institución organizó
                eventos públicos en la ciudad de Sevilla siendo de las primeras
                en impulsar el deporte hípico en la misma; del interés de la
                institución por estas actividades y eventos nace la iniciativa
                de la creación de la Plaza de toros de la Real Maestranza de
                Caballería de Sevilla.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">Un homenaje de España a América</h2>
              <p class="style-texto">
                A lo largo de este abrazo, o lo que es lo mismo, de un extremo a
                otro de la plaza, te recomendamos admirar los
                <strong>
                  bancos de azulejos que representan a las provincias de
                  España</strong
                >. Esto se ha convertido en un «ritual» frecuente para los
                visitantes nacionales que buscan fotografiarse delante del
                espacio dedicado a su provincia.
              </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="column">
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h2 class="titulo">Una plaza de cine</h2>
              <p class="style-texto">
                Los cuatro preciosos puentes que cruzan el canal representan los
                antiguos reinos de España.
              </p>
              <p class="style-texto">
                Dos altas torres se erigen en los extremos de la plaza,
                confiriendo un equilibrio perfecto al conjunto. Estas torres se
                divisan desde toda Sevilla.
              </p>
              <p class="style-texto">
                La galería porticada que separa el espacio abierto de la plaza
                con respecto al edificio invita a ser recorrido. Admira el
                impresionante artesonado…
              </p>
              <p class="style-texto">
                La Plaza de España ha enamorado a diversos directores de cine.
                Este monumento ha sido escenario de célebres películas como
                <em>Lawrence de Arabia </em> o el Episodio II de
                <em> Star Wars: El ataque de los clones.</em>
              </p>
            </div>
          </div>
          <div class="module imagenes-PlazaEspana">
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla5.webp"
              alt="PlazaEspana"
            />
            <figcaption class="leyendaImagen">
              Escena de Star Wars en la Plaza de España.
            </figcaption>
          </div>
        </div> -->
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-6.001147627830505%2C37.384676471548055%2C-5.997038483619691%2C37.38717422175235&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img src="../../assets/img/iconoslogos/Informacion.png" alt="" />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Paseo de Colón, 12</p>
        <p>41001 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> info@realmaestranza.com</p>
        <p><strong>Tlf:</strong> +34 954 224 577</p>
        <p><strong>Tlf:</strong> +34 954 210 315</p>
        <p><strong>Tlf:</strong> +34 954 221 490</p>
        <p>
          <strong>Horario:</strong> 9:30 - 19:00 h (del 1 de noviembre al 31 de
          marzo)/ 9:30 - 21:00 hrs (del 1 abril al 31 de octubre)
        </p>
        <p>
          <strong> Precio:</strong> General 7€. Mayores de 65 años, pensionistas
          y estudiantes 4€. Niños de 0 a 6 años y de 7 a 11 años 3€. Tarifa
          grupos: consultar. Estas tarifas no son aplicables los lunes de 15:00
          a 19:00 h.
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt=""
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
</div>
