<!--Inicio de Cabecera-->
<header class="header">
  <div class="logo">
    <img
      src="../../assets/img/banderas/BanderaEspana.jpg"
      alt="LogoTouristSpain"
      class="logo-icon"
    />
    TouristSpain
  </div>
  <nav class="nav-links">
    <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
    <a [routerLink]="['../Contactanos']" routerLinkActive="active">Contactanos</a>
  </nav>
</header>
<!--Fin de Cabecera-->
<!--Contenido-->
<div class="aviso-legal">
  <h1 class="titulo">AVISO LEGAL</h1>
  <h2 class="subtitulo">1. Información general</h2>
  <p class="style-texto">
    El presente Aviso Legal regula el uso del sitio web www.touristSpain.com,
    del que es titular TouristCorporation, con CIF 123456 y domicilio en C/Viva
    el turismo, 16
  </p>

  <h2 class="subtitulo">2. Usuarios</h2>
  <p class="style-texto">
    El acceso y/o uso de este portal atribuye la condición de USUARIO, que
    acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí
    reflejadas.
  </p>

  <h2 class="subtitulo">3. Uso del portal</h2>
  <p class="style-texto">
    www.touristSpain.com proporciona acceso a multitud de informaciones,
    servicios, programas o datos (en adelante, "los contenidos") en Internet
    pertenecientes a TouristCorporation o a sus licenciantes, a los que el
    USUARIO puede tener acceso. El USUARIO asume la responsabilidad del uso del
    portal.
  </p>

  <h2 class="subtitulo">4. Protección de datos</h2>
  <p class="style-texto">
    TouristCorporation cumple con las directrices del Reglamento (UE) 2016/679
    del Parlamento Europeo y del Consejo de 27 de abril de 2016 (GDPR) y demás
    normativa vigente en cada momento, y vela por garantizar un correcto uso y
    tratamiento de los datos personales del usuario.
  </p>

  <h2 class="subtitulo">5. Propiedad intelectual e industrial</h2>
  <p class="style-texto">
    TouristCorporation, por sí o como cesionaria, es titular de todos los
    derechos de propiedad intelectual e industrial de su página web, así como de
    los elementos contenidos en la misma (a título enunciativo, imágenes,
    sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones
    de colores, estructura y diseño, selección de materiales usados, programas
    de ordenador necesarios para su funcionamiento, acceso y uso, etc.).
  </p>

  <h2 class="subtitulo">6. Exclusión de garantías y responsabilidad</h2>
  <p class="style-texto">
    TouristCorporation no se hace responsable, en ningún caso, de los daños y
    perjuicios de cualquier naturaleza que pudieran ocasionar, a título
    enunciativo: errores u omisiones en los contenidos, falta de disponibilidad
    del portal o la transmisión de virus o programas maliciosos o lesivos en los
    contenidos, a pesar de haber adoptado todas las medidas tecnológicas
    necesarias para evitarlo.
  </p>

  <h2 class="subtitulo">7. Modificaciones</h2>
  <p class="style-texto">
    TouristCorporation se reserva el derecho de efectuar sin previo aviso las
    modificaciones que considere oportunas en su portal, pudiendo cambiar,
    suprimir o añadir tanto los contenidos y servicios que se presten a través
    del mismo como la forma en la que éstos aparezcan presentados o localizados
    en su portal.
  </p>

  <h2 class="subtitulo">8. Enlaces</h2>
  <p class="style-texto">
    En el caso de que en www.touristSpain.com se dispusiesen enlaces o
    hipervínculos hacía otros sitios de Internet, TouristCorporation no
    ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún
    caso TouristCorporation asumirá responsabilidad alguna por los
    contenidos de algún enlace perteneciente a un sitio web ajeno.
  </p>

  <h2 class="subtitulo">9. Derecho de exclusión</h2>
  <p class="style-texto">
    TouristCorporation se reserva el derecho a denegar o retirar el acceso a
    portal y/o los servicios ofrecidos sin necesidad de preaviso, a instancia
    propia o de un tercero, a aquellos usuarios que incumplan las presentes
    Condiciones Generales de Uso.
  </p>

  <h2 class="subtitulo">10. Generalidades</h2>
  <p class="style-texto">
    TouristCorporation perseguirá el incumplimiento de las presentes condiciones
    así como cualquier utilización indebida de su portal ejerciendo todas las
    acciones civiles y penales que le puedan corresponder en derecho.
  </p>

  <h2 class="subtitulo">
    11. Modificación de las presentes condiciones y duración
  </h2>
  <p class="style-texto">
    TouristCorporation podrá modificar en cualquier momento las condiciones aquí
    determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia
    de las citadas condiciones irá en función de su exposición y estarán
    vigentes hasta que sean modificadas por otras debidamente publicadas.
  </p>

  <h2 class="subtitulo">12. Legislación aplicable y jurisdicción</h2>
  <p class="style-texto">
    La relación entre TouristCorporation y el USUARIO se regirá por la normativa
    española vigente y cualquier controversia se someterá a los juzgados y
    tribunales de la ciudad de Sevilla.
  </p>
</div>
<!--Fin de Contenido-->
<!-- Pie de página -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
    <br />
    <img
      class="mapaEspaña"
      src="../../assets/img/iconoslogos/MapaEspaña.webp"
      alt="MapaEspana"
    />
    <ul class="footer-links">
      <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
      <li>
        <a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a>
      </li>
      <li><a [routerLink]="['../TerminoServicios']">Términos de Servicio</a></li>
    </ul>
  </div>
</footer>
<!--Fin de Pie de pagina-->
