.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 85px;
  height: auto;
  margin-right: 10px;
}

.politica-privacidad {
  background-color: rgb(235, 179, 106);
  width: 99vw;
  height: 290%; 
}

.titulo{
  margin-top: 0px;
  padding-top: 0px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.mapaEspaña {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.titulo,
.subtitulo {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.subtitulo {
  text-decoration: underline;
}

.titulo::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 90%;
  padding-top: 5px;
}

.style-texto {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: justify;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
  margin-bottom: 20px;
}

a:hover {
  color: red;
}
