<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
        <a routerLink="/contact" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../assets/img/Monumentos/Sevilla/PabellonNavegacion/PabellonNavegacion.jpg"
            alt="PabellonNavegacion"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="PabellonNavegacion-Informacion">
              <h1 class="module_header titulo" id="Navegacion_header">
                Pabellón de la Navegación
              </h1>
              <h2 class="titulo">
                Fue uno de los pabellones más visitados de la Expo 92
              </h2>
              <p class="style-texto">
                El Pabellón de la Navegación fue dedicado a las expediciones
                científicas y a los descubrimientos y avances en la técnica
                naval. En algunas de sus salas se recreaba el ambiente interior
                de un barco en la época de Colón, tales como la bodega o la
                cubierta. Constituyó uno de los pabellones más visitados de toda
                la Exposición.
              </p>
              <p class="style-texto">
                Una de las principales características de este museo es su
                <strong> dinamismo </strong>, ya que, a diferencia de otras
                pinacotecas o muestras estáticas, el objetivo es que el
                visitante viva una
                <strong> experiencia sensorial y educativa</strong> donde pueda
                reír, tocar, investigar,
                <strong>
                  hacer fotografías y desplegar toda su creatividad e
                  imaginación</strong
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-6.010519266128541%2C37.39300482328221%2C-6.0064101219177255%2C37.395502296021235&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p>
          <strong>Direccion:</strong> Camino de los Descubrimientos, 2 (Isla de
          la Cartuja).
        </p>
        <p>41092 Sevilla (Andalucía)</p>
        <p>
          <strong>Web:</strong
          ><a href="pabellondelanavegacion.com"> pabellondelanavegacion.com</a>
        </p>
        <p><strong>Tlf:</strong> +34 954 04 31 11</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
