.provincias-andaluzas {
  background-color: #006847;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 103.5%;
  margin-top: 10vh;
  position: relative;
}

.provincias-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.provincias-list li {
  margin: 0 10px;
}

.provincias-list a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.provincias-list a:hover {
  background-color: #fff;
  color: #006847;
}

.imagen-izquierda,
.imagen-derecha {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 1;
  border: 4px solid #ccc;
  border-radius: 10px;
}

.imagen-izquierda {
  left: 15px;
  top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.imagen-derecha {
  right: 25px;
  top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Monumentos-sevilla {
  background-color: rgba(128, 128, 128, 0.61);
  padding: 20px;
  text-align: center;
  width: 103.5%;
}

.Monumentos-sevilla,
.Monumentos-sevilla .row {
  width: 103.5%;
  display: block;
}

.Monumentos-sevilla .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.Monumentos-sevilla .row .column .module {
  width: 47%;
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;
}

.Monumentos-sevilla .row .column .module img {
  width: 95%;
  height: auto;
  border: 8px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.style-texto {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-align: justify;
  letter-spacing: -2.5px;
}

.titulo {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.titulo::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 90%;
  padding-top: 5px;
}

.lista-monumentos {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-monumentos li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.lista-monumentos li:hover {
  background-color: blue;
  color: white;
  transform: scale(1.1);
}

.mapa-ubicacion {
  width: 100%;
  height: 450px;
  position: relative;
}

.informacion-visita {
  position: absolute;
  top: 439.5vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  width: 300px;
  text-align: justify;
}

.informacion-visita h1 {
  letter-spacing: -1px;
}

.informacion-visita h2 {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}

.informacion-visita h2 img {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: auto;
  filter: invert(100%);
}

.informacion-visita p {
  text-align: left;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.mapaEspaña {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.slider-frame {
  width: 108.5%;
  height: 100vh;
  margin: 0;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 20s infinite alternate ease-in-out;
  margin: 0;
}

.slider-frame li {
  width: 33.333%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }

  30% {
    margin-left: 0;
  }
  33.33% {
    margin-left: -100%;
  }

  58.33% {
    margin-left: -100%;
  }

  63.33% {
    margin-left: -100%;
  }
  66.66% {
    margin-left: -200%;
  }

  91.66% {
    margin-left: -200%;
  }

  96.66% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
