<div class="background-image">
  <!--Contenedor-->
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <!--Lista Monumentos-->
      <ul class="lista-monumentos">
        <li>La Catedral de Sevilla y La giralda</li>
        <li><a [routerLink]="['/RealAlcazarSevilla']">El Real Alcázar</a></li>
        <li>La Plaza de España</li>
        <li>La Maestranza</li>
        <li>La Torre del Oro</li>
        <li>Puente de Triana</li>
        <li>La seta</li>
        <li>Torre Sevilla</li>
        <li>El Archivo de Indias</li>
        <li>Hospital de los Venerables</li>
        <li>Hospital de la Caridad</li>
        <li>Museo Arqueologico</li>
        <li>Museo de Artes y Costumbres</li>
        <li>Monasterio de la Cartuja</li>
        <li>Centro Andaluz y de Arte</li>
        <li>Antiquarium</li>
        <li>Ayuntamiento</li>
        <li>Palacio de Dueñas</li>
        <li>Casa Salinas</li>
        <li>Palacio de los Marqueses de la Algaba</li>
        <li>Museo de Bellas Artes</li>
        <li>Casa Fabiola Museo Bellver</li>
        <li>Museo Baile Flamenco</li>
        <li>Museo Militar</li>
        <li>Pabellon de la Navegación</li>
        <li>Acuario</li>
        <li>Casa de la Ciencia</li>
        <li>Espacio Nao Victoria</li>
        <li>Espacio Santa Clara</li>
        <li>Centro ceramica Santa Ana</li>
      </ul>
      <!--Fin de lista Monumentos-->
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module imagenes-catedral">
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral1.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral2.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral3.jpg"
              alt=""
            />
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral4.jpg"
              alt=""
            />
          </div>
          <div class="module">
            <div class="Catedral-Informacion">
              <h1 class="module_header titulo" id="catedral_header">
                La Catedral
              </h1>
              <p class="style-texto">
                La Catedral de Sevilla te dejará perplejo por sus proporciones.
                Cuentan las crónicas que fue concebido por el Cabildo
                Catedralicio bajo las palabras
                <em>
                  «Hagamos un templo tan grandioso que los que lo vieren labrado
                  nos tengan por locos»</em
                >. Todo en la Catedral es colosal. Podrás admirar el retablo
                mayor, considerado por muchos una de las obras más destacadas de
                la historia del arte, o ver de cerca el mausoleo donde descansan
                los restos de <strong>Cristóbal Colón.</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="Giralda-Informacion">
              <h1 class="module_header titulo">La Giralda</h1>
              <p class="style-texto">
                La Giralda de Sevilla es una torre de unas dimensiones sin
                comparación para una construcción de su época (desde el siglo
                XII hasta el XVI). De hecho, fue durante mucho tiempo la
                edificación más alta del mundo (101 metros contando el
                Giraldillo, la preciosa veleta que la corona y uno de los
                símbolos de la ciudad). La Giralda es una perfecta simbiosis de
                diferentes estilos arquitectónicos, de diferentes
                civilizaciones, una torre que comienza siendo alminar y termina
                siendo campanario. Cuando subas a su mirador podrás contemplar
                toda la ciudad, y a sus pies el Patio de los Naranjos y la mayor
                Catedral gótica que existe.
              </p>
            </div>
          </div>
          <div class="module imagenes-giralda">
            <img
              src="../../assets/img/Monumentos/Sevilla/Catedral5.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-6.002225875854493%2C37.38327837709237%2C-5.990252494812013%2C37.38827388744003&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img src="../../assets/img/iconoslogos/Informacion.png" alt="" />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Avenida de la Constitucion, s/n.</p>
        <p>41004 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> info@catedraldesevilla.es</p>
        <p><strong>Tlf:</strong> +34 902 099 692</p>
        <p>
          <strong>web:</strong>
          <a href="https://www.catedraldesevilla.es"
            >www.catedraldesevilla.es</a
          >
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt=""
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de Pagina-->
</div>
