<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/MuseoArqueologico/MuseoArqueologicoSevilla.jpg"
              alt="MuseoArqueologico"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/MuseoArqueologico/MuseoArqueologicoSevilla2.jpg"
              alt="MuseoArqueologico"
            />
          </li>
          <li>
            <img
              src="../../../assets/img/Monumentos/Sevilla/MuseoArqueologico/MuseoArqueologicoSevilla3.jpg"
              alt="MuseoArqueologico"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="MuseoArqueologico-Informacion">
              <h1 class="module_header titulo" id="Museo_header">
                Museo Arqueológico
              </h1>
              <h1 class="module_header titulo" id="Museo_header">
                Un recorrido por las civilizaciones de Sevilla
              </h1>
              <p class="style-texto">
                El Museo Arqueológico de Sevilla tiene sus orígenes a finales
                del siglo XIX, cuando se gesta una colección pública de
                antigüedades, la mayoría de ella extraídas de la ciudad romana
                Itálica. No será hasta mediados de la siguiente centuria cuando
                se consolide y se amplíe con el traslado desde el antiguo
                Convento de la Merced a su actual sede: el pabellón de Bellas
                Artes creado por Aníbal González para la Exposición
                Iberoamericana de 1929, cedido por el Ayuntamiento de Sevilla.
              </p>
              <p class="style-texto">
                El Museo comparte con el público los testimonios materiales de
                las distintas sociedades que se sucedieron en el territorio de
                la actual provincia de Sevilla, a lo largo de la Prehistoria y
                la Protohistoria, la Época Romana (con colecciones procedentes
                en su mayoría de Itálica), la Antigüedad Tardía y la Edad Media
                hasta concluir con la Edad Moderna.
              </p>
              <p class="style-texto">
                Las principales colecciones: Prehistoria, Protohistoria,
                destacando el periodo del Bronce Final, con testimonios de las
                culturas fenicia y tartesia. Colecciones romanas procedentes en
                su mayoría de Itálica, con una importante muestra de estatuaria
                de época de Adriano. Cuenta con piezas medievales, visigodas e
                islámicas.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.991883277893067%2C37.36880997908512%2C-5.983664989471436%2C37.373806453213575&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza de América, s/n</p>
        <p><strong>Tlf:</strong> 955 12 06 32</p>
        <p><strong>CERRADO ACTUALMENTE POR OBRAS</strong></p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de pie de pagina-->
</div>
