<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
        <a routerLink="/contact" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../assets/img/Monumentos/Sevilla/CasaSalinas/CasaSalinas.jpg"
            alt="CasaSalinas"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="CasaSalinas-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Casa de Salinas
              </h1>
              <h2 class="titulo">Una de las casas más bellas de Sevilla</h2>
              <p class="style-texto">
                Situada en el área monumental del casco Antiguo de Sevilla, a
                dos pasos de la catedral, La Giralda y Los Reales Alcázares,
                esta casa compartió junto a otras mansiones un barrio de gente
                ilustre y acaudalada. Baltasar Jaén, primer propietario de la
                casa y fundador de mayorazgo propio, perteneció a uno de estos
                linajes.
              </p>
              <p class="style-texto">
                A principios del siglo XX la casa pasó a ser propiedad de la
                familia Salinas, que la sometió a un delicado y minucioso
                proceso de restauración para devolverle su aspecto original, que
                había sido alterado en parte con intervenciones realizadas a lo
                largo de sus cuatrocientos años de historia, y muy especialmente
                hacia 1900.
              </p>
              <p class="style-texto">
                En la actualidad, luce sus primitivas estructuras del siglo XVI
                con elementos propios de la época de su construcción,
                armonizados estéticamente como se refleja en sus interiores
                cálidos y confortables.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.990995466709138%2C37.386392085372194%2C-5.98894089460373%2C37.38764094229919&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Mateos Gago, 39</p>
        <p>4104 Sevilla (Andalucía)</p>
        <p>
          <strong>Web:</strong>
          <a href="casadesalinas.com"> casadesalinas.com</a>
        </p>
        <p><strong>Tlf:</strong> +34 954 219 539</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
