<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="encabezado">
      <div class="slider-frame">
        <ul>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla1.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla2.jpg"
              alt="PlazaEspana"
            />
          </li>
          <li>
            <img
              src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla3.jpg"
              alt="PlazaEspana"
            />
          </li>
        </ul>
      </div>
      <div class="provincias-andaluzas">
        <img
          src="../../assets/img/banderas/BanderaAndalucia.jpg"
          class="imagen-izquierda"
        />
        <ul class="provincias-list">
          <li><a href="#">Almería</a></li>
          <li><a href="#">Cádiz</a></li>
          <li><a href="#">Córdoba</a></li>
          <li><a href="#">Granada</a></li>
          <li><a href="#">Huelva</a></li>
          <li><a href="#">Jaén</a></li>
          <li><a href="#">Málaga</a></li>
          <li><a href="#">Sevilla</a></li>
        </ul>
        <img
          src="../../assets/img/banderas/BanderaSevilla.jpg"
          class="imagen-derecha"
        />
      </div>
    </header>
    <!--Fin de Cabecera-->
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <!-- <div class="module imagenes-PlazaEspana">
              <img
                src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla4.jpg"
                alt="PlazaEspana"
              />
              <figcaption class="leyendaImagen">
                Monumento de Aníbal González frente a la Plaza de España.
              </figcaption>
            </div> -->
          <div class="module">
            <div class="PlazaEspana-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                Casa de Salinas
              </h1>
              <h2 class="titulo">Una de las casas más bellas de Sevilla</h2>
              <p class="style-texto">
                Situada en el área monumental del casco Antiguo de Sevilla, a
                dos pasos de la catedral, La Giralda y Los Reales Alcázares,
                esta casa compartió junto a otras mansiones un barrio de gente
                ilustre y acaudalada. Baltasar Jaén, primer propietario de la
                casa y fundador de mayorazgo propio, perteneció a uno de estos
                linajes.
              </p>
              <p class="style-texto">
                A principios del siglo XX la casa pasó a ser propiedad de la
                familia Salinas, que la sometió a un delicado y minucioso
                proceso de restauración para devolverle su aspecto original, que
                había sido alterado en parte con intervenciones realizadas a lo
                largo de sus cuatrocientos años de historia, y muy especialmente
                hacia 1900.
              </p>
              <p class="style-texto">
                En la actualidad, luce sus primitivas estructuras del siglo XVI
                con elementos propios de la época de su construcción,
                armonizados estéticamente como se refleja en sus interiores
                cálidos y confortables.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="column">
            <div class="module">
              <div class="PlazaEspana-Informacion">
                <h2 class="titulo">Un homenaje de España a América</h2>
                <p class="style-texto">
                  A lo largo de este abrazo, o lo que es lo mismo, de un extremo a
                  otro de la plaza, te recomendamos admirar los
                  <strong>
                    bancos de azulejos que representan a las provincias de
                    España</strong
                  >. Esto se ha convertido en un «ritual» frecuente para los
                  visitantes nacionales que buscan fotografiarse delante del
                  espacio dedicado a su provincia.
                </p>
              </div>
            </div>
          </div> -->
        <!-- <div class="column">
            <div class="module">
              <div class="PlazaEspana-Informacion">
                <h2 class="titulo">Una plaza de cine</h2>
                <p class="style-texto">
                  Los cuatro preciosos puentes que cruzan el canal representan los
                  antiguos reinos de España.
                </p>
                <p class="style-texto">
                  Dos altas torres se erigen en los extremos de la plaza,
                  confiriendo un equilibrio perfecto al conjunto. Estas torres se
                  divisan desde toda Sevilla.
                </p>
                <p class="style-texto">
                  La galería porticada que separa el espacio abierto de la plaza
                  con respecto al edificio invita a ser recorrido. Admira el
                  impresionante artesonado…
                </p>
                <p class="style-texto">
                  La Plaza de España ha enamorado a diversos directores de cine.
                  Este monumento ha sido escenario de célebres películas como
                  <em>Lawrence de Arabia </em> o el Episodio II de
                  <em> Star Wars: El ataque de los clones.</em>
                </p>
              </div>
            </div>
            <div class="module imagenes-PlazaEspana">
              <img
                src="../../assets/img/Monumentos/Sevilla/PlazaEspaña/PlazaEspañaSevilla5.webp"
                alt="PlazaEspana"
              />
              <figcaption class="leyendaImagen">
                Escena de Star Wars en la Plaza de España.
              </figcaption>
            </div>
          </div> -->
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.990995466709138%2C37.386392085372194%2C-5.98894089460373%2C37.38764094229919&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Mateos Gago, 39</p>
        <p>4104 Sevilla (Andalucía)</p>
        <p>
          <strong>Web:</strong>
          <a href="casadesalinas.com"> casadesalinas.com</a>
        </p>
        <p><strong>Tlf:</strong> +34 954 219 539</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Términos de Servicio</a></li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
