<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../../../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../../../../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../../../../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/PuenteTriana/PuenteTriana.jpg"
            alt="PuenteTriana"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../../../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../../../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="PuenteTriana-Informacion">
              <h1 class="module_header titulo" id="PuenteTriana_header">
                Puente de Triana
              </h1>
              <p class="style-texto">
                Los romanos desecharon la idea de unir las dos orillas mediante
                la construcción de un puente estable. Los árabes optaron por la
                solución de un puente de carácter no permanente, y así en el año
                1171, bajo gobierno del califa almohade Abu Yacub Yusuf, se
                construyó el denominado puente de barcas, que constaba de trece
                barcas amarradas con cadenas sobre las que se apoyaban fuertes
                tablones de madera.
              </p>
            </div>
          </div>
          <div class="module imagenes-PuenteTriana">
            <img
              src="../../../../../assets/img/Monumentos/Sevilla/PuenteTriana/PuenteTriana2.jpg"
              alt="PuenteTriana"
            />
            <figcaption class="leyendaImagen">
              Imagen del antiguo Puente de Barcas
            </figcaption>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="PuenteTriana-Informacion">
              <h2 class="titulo">Puente de Isabel II</h2>
              <p class="style-texto">
                Su emplazamiento coincidía con el del actual Puente de Isabel
                II, El Castillo, en el lado de Triana y a la altura de la puerta
                de la muralla, en el lado de la ciudad; solo en 1845 cuando se
                iniciaron las obras de construcción del actual puente, se
                trasladó su emplazamiento a la zona frente a la Plaza de toros
                de la Real Maestranza.
              </p>
              <p class="style-texto">
                El diseño escogido era análogo al del Puente Carrousel, hoy
                desaparecido, que se levantaba, en París, sobre el rio Sena, que
                había sido ejecutado en 1834 por el ingeniero francés Polonceau.
                El proyecto del nuevo puente del Guadalquivir se encargó a los
                ingenieros franceses Gustavo Steinacher y Fernando Bernadet, que
                ya trabajaban en El Puerto de Santa María en la construcción de
                otro.
              </p>
              <p class="style-texto">
                Los materiales utilizados fueron pilares de piedra y hierro, sin
                utilización de madera. En la orilla de triana se estableció una
                gran rampa de contención que llega hasta la calle de San Jorge.
                Se impuso que las piezas de fundición fuesen construidas en
                España, en concreto en Sevilla, en los talleres de los hermanos
                Bonaplata. La construcción se inició en 1845 y se termino en
                1852. La inauguración se realizó el 23 de febrero de 1852 con la
                celebración de un desfile militar. El puente fue declarado
                Monumento Histórico Nacional el 13 de abril de 1976.
              </p>
              <p class="style-texto">
                Un año más tarde, en 1977, fue restaurado según proyecto del
                ingeniero onubense Juan Batanero, dirigiendo las obras el
                ingeniero sevillano Manuel Rios Pérez. Por esta reforma, se
                instaló un nuevo tablero y los arcos dejaron de tener función
                estructural, quedando como elementos puramente decorativos. Se
                reinauguró el 13 de junio de 1977.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-6.006415486335755%2C37.385290260879444%2C-6.000428795814514%2C37.387787990636696&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../../../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Puente de Isabel II, 30</p>
        <p>41010 Sevilla (Andalucía)</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../../../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../../../../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../../../../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../../../../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
