<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../../../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../../../../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../../../../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias1.jpg"
            alt="ArchivoIndias"
          />
        </li>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias2.jpg"
            alt="ArchivoIndias"
          />
        </li>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/ArchivoIndias/ArchivoIndias3.jpg"
            alt="ArchivoIndias"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../../../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../../../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="ArchivoIndias-Informacion">
              <h1 class="module_header titulo" id="Plaza_header">
                El Archivo de Indias
              </h1>
              <p class="style-texto">
                El Archivo General de Indias, antigua Lonja de Mercaderes, fue
                construido en 1572. Fue proyectado por Juan de Herrera y
                edificado por Alonso de Vandelviva y Juan de Minjares. En el
                siglo XVII se construyó la segunda planta y la Cruz de
                Juramento. Un siglo después, cuando Carlos III eligió este
                edificio como sede del Archivo General de Indias, se realizaron
                otras obras, como la redecoración de la escalera principal. Es
                un edificio de planta cuadrada con un amplio patio central. En
                su interior se guardan valiosos documentos que permiten recrear
                la historia de la relación de España con las colonias
                ultramarinas de América.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.994396507740022%2C37.38408612081891%2C-5.992341935634614%2C37.38533501615497&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../../../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Edificio de la Lonja</p>
        <p>Avenida de la Constitución, 3</p>
        <p>41071 Sevilla (Andalucía)</p>
        <p><strong>E-mail:</strong> agi2@cultura.gob.es</p>
        <p><strong>Tlf:</strong> +34 954 500 528</p>
        <p>
          <strong>web:</strong>
          <a
            href="http://www.culturaydeporte.gob.es/cultura/areas/archivos/mc/archivos/agi/portada.html"
            >http://www.culturaydeporte.gob.es/<br />cultura/areas/archivos/mc/archivos/<br />agi/portada.html</a
          >
        </p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../../../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../../../../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../../../../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../../../../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de Pagina-->
</div>
