<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../../../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../../../../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../../../../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../../../assets/img/Monumentos/Sevilla/AcuarioSevilla/Acuario1.jpg"
            alt="AcuarioSevilla"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../../../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../../../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module imagenes-AcuarioSevilla">
            <img
              class="imagen-grande"
              src="../../../../../assets/img/Monumentos/Sevilla/AcuarioSevilla/Acuario2.jpg"
              alt="AcuarioSevilla"
            />
          </div>
          <div class="module">
            <div class="AcuarioSevilla-Informacion">
              <h1 class="module_header titulo" id="Acuario_header">
                Acuario de Sevilla
              </h1>
              <h2 class="titulo">Más de 500 especies acuáticas</h2>
              <p class="style-texto">
                Durante el recorrido «transoceánico» que te propone el Acuario
                de Sevilla conocerás
                <strong>
                  la flora y la fauna que impresionó a Magallanes en su
                  viaje</strong
                >.
              </p>
              <p class="style-texto">
                Podrás admirar más de 500 especies de diversos ecosistemas. Las
                áreas temáticas son las siguientes: Guadalquivir, Atlántico,
                Oceanario, Selva Tropical, Indo-pacífico, y otras zonas como la
                Sabana africana o el área dedicada a las medusas.
              </p>
              <p class="style-texto">
                Algunas de estas fabulosas criaturas son el
                <strong> Tiburón Toro</strong>, que domina majestuoso el
                Oceanario, el esturión que poblaba las aguas del Guadalquivir,
                la Raya Mosaico del Atlántico, la Iguana Verde de la Selva o el
                Pez León del Pacífico.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="module">
            <div class="AcuarioSevilla-Informacion">
              <h2 class="titulo">Uno de los mayores oceanarios de Europa</h2>
              <p class="style-texto">
                El
                <a href="https://www.acuariosevilla.es/"> Acuario de Sevilla</a>
                cuenta con el tanque de tiburones más profundo de la Península
                Ibérica. Tiene una capacidad de 2 millones de litros de agua y
                llega hasta los 9 metros de profundidad. En este oceanario viven
                numerosas especies, como tiburones o tortugas marinas, entre
                otras.
              </p>
            </div>
          </div>
          <div class="module imagenes-AcuarioSevilla">
            <img
              src="../../../../../assets/img/Monumentos/Sevilla/AcuarioSevilla/Acuario4.jpg"
              alt="AcuarioSevilla"
            />
          </div>
        </div>
        <div class="column">
          <div class="module imagenes-AcuarioSevilla">
            <img
              class="imagen-grande"
              src="../../../../../assets/img/Monumentos/Sevilla/AcuarioSevilla/Acuario3.jpg"
              alt="AcuarioSevilla"
            />
            <figcaption class="leyendaImagen">
              Imagen de La Tortuga Chelo en el aquario de Sevilla.
            </figcaption>
          </div>
          <div class="module">
            <div class="AcuarioSevilla-Informacion">
              <h2 class="titulo">Un plan perfecto para disfrutar en familia</h2>
              <p class="style-texto">
                Sevilla ofrece muchas posibilidades para disfrutar en familia:
                el parque temático Isla Mágica, los parques acuáticos Agua
                Mágica y Aquópolis, la Casa de la Ciencia, el Pabellón de la
                Navegación, el CaixaForum… y por supuesto, el Acuario de
                Sevilla.
              </p>
              <p class="style-texto">
                El Acuario es una excelente opción para que los más pequeños
                aprenden jugando y tomen conciencia de la importancia de
                respetar el medio natural. Diferentes
                <strong>talleres</strong> y contenidos lúdicos les ayudarán a
                amar y cuidar los océanos y sus habitantes.
              </p>
              <p class="style-texto">
                La <strong>Tortuga Chelo</strong> es la mascota del Acuario de
                Sevilla, un simpático personaje que además existe de verdad: una
                tortuga marina que habita en el acuario dentro de un programa de
                recuperación de especies.
              </p>
              <p class="style-texto">
                En la visita al Acuario no dejes de cruzar el Oceanario por su
                <strong> túnel</strong> interior: una experiencia inmersiva con
                la que podréis ver «desde dentro» el desfile de especies. Dejará
                boquiabiertos a los niños.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.99244922399521%2C37.36991630899515%2C-5.990394651889801%2C37.371165440304964&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../../../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p>
          <strong>Direccion:</strong> Muelle de las Delicias s/n. Área Sur.
          Puerto de Sevilla
        </p>
        <p>41012 Sevilla (Andalucía)</p>
        <p>
          <strong>Web:</strong
          ><a href="http://www.acuariosevilla.es/">
            http://www.acuariosevilla.es/</a
          >
        </p>
        <p><strong>Tlf:</strong> +34 955 441 541</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../../../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../../../../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../../../../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../../../../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
