<div class="background-image">
  <div class="container">
    <!--Cabecera-->
    <header class="header">
      <div class="logo">
        <img
          src="../../assets/img/banderas/BanderaEspana.jpg"
          alt="LogoTouristSpain"
          class="logo-icon"
        />
        TouristSpain
      </div>
      <nav class="nav-links">
        <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['../SobreNosotros']" routerLinkActive="active">Sobre nosotros</a>
        <a [routerLink]="['../Contactanos']" routerLinkActive="active">Contactanos</a>
      </nav>
    </header>
    <!--Fin de Cabecera-->
    <div class="slider-frame">
      <ul>
        <li>
          <img
            src="../../../assets/img/Monumentos/Sevilla/PalacioMarquesesAlgaba/MarquesesAlgaba.jpg"
            alt="MarquesesAlgaba"
          />
        </li>
      </ul>
    </div>
    <div class="provincias-andaluzas">
      <img
        src="../../assets/img/banderas/BanderaAndalucia.jpg"
        class="imagen-izquierda"
      />
      <ul class="provincias-list">
        <li><a href="#">Almería</a></li>
        <li><a href="#">Cádiz</a></li>
        <li><a href="#">Córdoba</a></li>
        <li><a href="#">Granada</a></li>
        <li><a href="#">Huelva</a></li>
        <li><a href="#">Jaén</a></li>
        <li><a href="#">Málaga</a></li>
        <li><a href="#">Sevilla</a></li>
      </ul>
      <img
        src="../../assets/img/banderas/BanderaSevilla.jpg"
        class="imagen-derecha"
      />
    </div>
    <div class="Monumentos-sevilla">
      <h1 class="titulo">Monumentos de Sevilla</h1>
      <div class="row">
        <!--Informacion Monumentos-->
        <div class="column">
          <div class="module">
            <div class="MarquesesAlgaba-Informacion">
              <h1 class="module_header titulo" id="MarquesesAlgaba_header">
                Palacio de los Marqueses de la Algaba
              </h1>
              <p class="style-texto">
                El palacio con una imponente portada gótico mudéjar que aún hoy
                se conserva, sigue siendo uno de los grandes desconocidos del
                patrimonio monumental de la ciudad de Sevilla. Tras un lento y
                progresivo proceso de degradación, expolio y ruina estuvo muy
                cerca de desaparecer la que fuera residencia de una de las
                familias sevillanas de mayor abolengo, los Guzmanes de La
                Algaba, para, después de un riguroso proceso de rehabilitación,
                resurgir con toda su fuerza a principios del siglo XXI.
              </p>
              <p class="style-texto">
                El Palacio de los Marqueses de la Algaba, situado detrás del
                mercado de la calle Feria, es la sede actual del área de
                Educación, Participación Ciudadana y Edificios Municipales, y
                desde 2013, alberga el Centro de Arte Mudéjar de Sevilla.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mapa-ubicacion">
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-5.992014706134797%2C37.39890102668447%2C-5.989960134029388%2C37.40014967522221&amp;layer=mapnik"
          style="border: 1px solid black"
        ></iframe
        ><br />
      </div>
      <div class="informacion-visita">
        <h2>
          <img
            src="../../assets/img/iconoslogos/Informacion.png"
            alt="Informacion"
          />
          <i></i> DIRECCION Y DATOS DE CONTACTO
        </h2>
        <p><strong>Direccion:</strong> Plaza Calderón de la Barca s/n</p>
        <p>41003 Sevilla (Andalucía)</p>
        <p><strong>Tlf:</strong> +34 955 472 097</p>
      </div>
    </div>
  </div>
  <!--Fin de informacion Monumentos-->
  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Todos los derechos reservados - TouristSpain</p>
      <br />
      <img
        class="mapaEspaña"
        src="../../assets/img/iconoslogos/MapaEspaña.webp"
        alt="MapaEspana"
      />
      <ul class="footer-links">
        <li><a [routerLink]="['../AvisoLegal']">Aviso Legal</a></li>
        <li>
          <a [routerLink]="['../PoliticaPrivacidad']">Política de Privacidad</a>
        </li>
        <li>
          <a [routerLink]="['../TerminoServicios']">Términos de Servicio</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--Fin de Pie de pagina-->
</div>
